<div>
  <header>
    <xng-breadcrumb class="orb-breadcrumb"> </xng-breadcrumb>
    <div
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: baseline;
      "
    >
      <h4>{{ strings.list.header }}</h4>
      <ngx-poll-control></ngx-poll-control>
    </div>
  </header>
  <div #tableWrapper class="tableWrapper">
    <div class="options">
      <ngx-filter [availableFilters]="filterOptions"></ngx-filter>
      <button (click)="onOpenDeleteSelected()"
        *ngIf="selected.length > 0"
        class="delete-selected"
        nbButton
        shape="round">
        Delete
      </button>
    </div>
    <div class="add-sink-container">
      <button
        (click)="onOpenAdd()"
        class="card-button"
        shape="round"
        nbButton
        status="primary"
      >
        <i class="fa fa-plus">&nbsp;</i>{{ strings.list.create }}
      </button>
    </div>
    <ngx-datatable
      #table
      [columnMode]="columnMode.force"
      [columns]="columns"
      [footerHeight]="50"
      [headerHeight]="50"
      [loadingIndicator]="loading"
      [rowHeight]="50"
      [rows]="filteredSinks$ | async"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [sorts]="tableSorts"
      class="orb"
      style="height: calc(62vh);"
      [selected]="selected"
      [selectionType]="'checkbox'"
    >
    </ngx-datatable>
  </div>
</div>

<ng-template #sinkNameTemplateCell let-i="index" let-row="row" let-value="value">
  <button
    (click)="onOpenView(row)"
    class="view-sink-button"
    nbTooltip="{{ value }}"
  >
    {{ value }}
  </button>
</ng-template>

<ng-template #sinkStateTemplateCell let-value="value">
  <span nbTooltip="{{ value }}">
    <i aria-hidden="true" class="fa fa-circle orb-service-{{ value }}"></i>
    {{ value | titlecase }}
  </span>
</ng-template>

<ng-template #sinkTagsTemplateCell let-i="index" let-row="row" let-value="value">
  <div class="d-block">
    <mat-chip-list nbTooltip="{{ value | json }}">
      <mat-chip
        *ngFor="let tag of value | keyvalue"
        style="background-color: #2B3148;"
        class="orb-tag-chip"
        >
        <span [style.color]="tag.key | tagcolor">{{ tag.key }}</span><span style="color: #969FB9;">:</span>&nbsp;
        <span [style.color]="tag.value | tagcolor">{{ tag.value }}</span>
      </mat-chip>
      <mat-chip
        *ngIf="
          !row?.tags
        "
        style="background-color: #2B3148;"
        class="orb-tag-chip"
        >
        <span style="color: #df316f;">No tag were created</span>
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>

<ng-template
  #sinkActionsTemplateCell
  let-i="index"
  let-row="row"
  let-value="value"
>
  <div class="block">
    <button
      (click)="onOpenView(row)"
      class="orb-action-hover detail-button"
      ghost
      nbTooltip="View Details"
      nbButton
    >
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button
      (click)="onOpenView(row)"
      class="orb-action-hover edit-button"
      ghost
      nbTooltip="Edit"
      nbButton
    >
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button
      (click)="openDeleteModal(row)"
      class="orb-action-hover del-button"
      ghost
      nbTooltip="Delete"
      nbButton
    >
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </div>
</ng-template>

<ng-template #checkboxTemplateCell let-i="index" let-row="row" let-value="value">
  <input type="checkbox" [checked]="getChecked(row)" 
  (change)="onCheckboxChange($event, row)">
</ng-template>

<ng-template #checkboxTemplateHeader>
  <input type="checkbox" (change)="onHeaderCheckboxChange($event)">
</ng-template>
