nb-card {
  max-width: 60rem;
  max-height: 700px;
  min-width: 700px;

  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
    button {
      float: right;
    }
    nb-icon {
      float: right  ;
    }
  }
  
  nb-card-body {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0 2rem 2rem 2rem;
    padding: 0;
  
    p {
      color: #fff;
    }
  
    .ns1-red {
      color: #df316f;
    }

    pre {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-content: space-between;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0;

      background: transparent;
      padding: 0.75rem;
      border-radius: 0.5rem;
      white-space: pre-line;

      button {
        background: transparent;
        border: 0 transparent;
        color: #969fb9;
        position: relative;
        top: -0.25rem;
        float: right;
        right: -0.5rem;
        outline: none;
      }

      code {
        color: #ffffff;
        line-height: 2.5 !important;
        font-size: 16px !important;
      }
    }
  }
  
  nb-card-footer {
    text-align: right;
    padding: 1.5rem;
  }
}

.orb-close-dialog {
  background-color: #23294000;
  border-radius: 4px;
  display: contents;
  float: right;

  > span {
    float: right;
    padding-top: 0.3rem;
    font-size: large;
    color: #3089fc;
    font-weight: 900;
  }
}

::ng-deep {
  mark {
    background: #1c2339 !important;
    color: #df316f !important;
  }
}
a {
  white-space: nowrap !important;
  padding: 0 0.3rem !important;
  background-color: #3089fc !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  color: #ffffff !important;
  border-radius: 10px;
  fill: #3089fc !important;
}
