nb-card {
  max-width: 50rem;
  
  nb-card-header {
    background: #232940;
    color: #969fb9;
  }
  
  nb-card-body {
    margin: 2rem 3rem;
    padding: 0;
  
    p {
      color: #969fb9;
    }
  
    .ns1-red {
      color: #df316f;
    }

    pre {
      background: #1c2339;
      padding: 0.75rem;
      border-radius: 0.5rem;
      white-space: pre-line;

      button {
        background: transparent;
        border: 0 transparent;
        color: #969fb9;
        position: relative;
        top: -0.25rem;
        float: right;
        right: -0.5rem;
        outline: none;
      }

      code {
        color: #ffffff;
      }
    }
  }
  
  nb-card-footer {
    text-align: right;
    padding: 1.5rem;
  }
}

.orb-close-dialog {
  background-color: #23294000;
  border-radius: 4px;
  display: contents;
  float: right;

  > span {
    float: right;
    padding-top: 0.3rem;
    font-size: large;
    color: #3089fc;
    font-weight: 900;
  }
}

