<nb-card>
  <nb-card-header>
    Agent Credentials
    <button nbButton
            ghost="true"
            size="small"
            class="orb-close-dialog align-content-end"
            (click)="onClose()"
            data-orb-qa-id="button#close">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>

  <nb-card-body>
    <p>Make sure to copy the Agent Key now. You won’t be able to see it again!</p>

    <label>Agent Key</label>
    <pre><button [cdkCopyToClipboard]="key2copy" class="copy"><nb-icon (click)="toggleIcon('key')" [icon]="copyKeyIcon" pack="eva" ></nb-icon></button><code>{{ agent?.key }}</code></pre>
    
    <label>Provisioning Command</label>
    <p>
      Replace <b style="color:#df316f">mock</b>
      interface with host
      network interface. <u nbTooltip="e.g. eth0, wlan0" style="color: #969fb9">?</u>
      <br>
      <a href="https://getorb.io/docs/#running-orb-agent"
         target="_blank">See here
      </a>
      for more advanced options.
    </p>
    <p>
      If you are looking for scrapping real data from your Agent, please consider changing the mock with your Agent default iface.
    </p>
    <pre><button [cdkCopyToClipboard]="command2copy" class="copy"><nb-icon (click)="toggleIcon('command')" [icon]="copyCommandIcon" pack="eva"
    ></nb-icon></button><code [innerHtml]="command2show">{{ command2show }}</code></pre>
  </nb-card-body>

  <nb-card-footer>
    <button 
      nbButton
      ghost
      status="primary"
      (click)="onClose()">Close</button>
  </nb-card-footer>
</nb-card>
