<nb-card [cdkTrapFocus]>
  <nb-card-header>
    Agent Credentials
    <button (click)="onClose()"
            class="orb-close-dialog align-content-end"
            data-orb-qa-id="button#close"
            ghost="true"
            nbButton
            size="small">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>

  <nb-card-body>
    <p style="color: #df316f !important; margin-left: 1rem; margin-top: 1rem;">
      *Make sure to copy the Agent Key now. You won’t be able to see it again!
    </p>
    <nb-card>
      <nb-card-header>Agent Key</nb-card-header>
      <nb-card-body style="margin: 0 !important; background-color: #1c2339 !important;">
        <pre>
          <button autofocus
                  [cdkCopyToClipboard]="key2copy"
                  class="copy"
                  nbTooltip="Copy Agent Key">
            <nb-icon (click)="toggleIcon('key')"
                     [icon]="copyKeyIcon"
                     pack="eva">
            </nb-icon>
          </button>
          <code>{{ agent?.key }}</code>
        </pre>
      </nb-card-body>
    </nb-card>
    <p style="margin-left: 1rem;">
      <a href="https://orb.community/documentation/running_orb_agent/"
        target="_blank">Click here 
      </a>
      &nbsp; for more advanced options.
    </p> 
    <nb-card style="  border: transparent;
    border-radius: 0.5rem;">
      <nb-card-header>
        Provisioning Command
        <button
        style="color: #3089fc"
        ghost="true"
        nbButton
        (click)="toggleProvisioningCommand()">
        <nb-icon [icon]="hideCommand ? 'plus-outline': 'minus-outline'"
                 pack="eva">
        </nb-icon>
      </button>
      </nb-card-header>
      <nb-card-body [hidden]="hideCommand"  style="margin: 0 !important; background-color: #1c2339 !important;">
        <pre>
          <button [cdkCopyToClipboard]="defaultCommandCopy" class="copy"
            nbTooltip="Copy Provisioning Command">
            <nb-icon (click)="toggleIcon('command')" [icon]="copyCommandIcon" pack="eva">
            </nb-icon>
          </button>
          <button (click)="downloadCommand('default')" class="download"
            nbTooltip="Save Command as a File">
            <nb-icon [icon]="saveKeyIcon" pack="eva"></nb-icon>
          </button>
          <code [innerHtml]="defaultCommandShow">
            {{ defaultCommandShow }}
          </code>
        </pre>
      </nb-card-body>    
    </nb-card>
    <nb-card style="  border: transparent;
    border-radius: 0.5rem;">
      <nb-card-header>
        Provisioning Command with Configuration File
        <button
        style="color: #3089fc"
        ghost="true"
        nbButton
        (click)="toggleProvisioningCommand2()">
        <nb-icon [icon]="hideCommand2 ? 'plus-outline': 'minus-outline'"
                 pack="eva">
        </nb-icon>
      </button>
      <nb-icon icon="info-outline" style="margin-top: 10px; margin-right: 10px;" 
      nbTooltip="This command requires a configuration file saved on {PWD} called &quot;agent.yaml&quot;">
      </nb-icon>
      </nb-card-header>
      <nb-card-body [hidden]="hideCommand2"  style="margin: 0 !important; background-color: #1c2339 !important;">
        <pre>
          <button [cdkCopyToClipboard]="fileConfigCommandCopy" class="copy"
          nbTooltip="Copy Provisioning Command">
          <nb-icon (click)="toggleIcon('command')" [icon]="copyCommandIcon" pack="eva">
          </nb-icon>
          </button>
          <button (click)="downloadCommand('fileConfig')" class="download"
            nbTooltip="Save Command as a File">
            <nb-icon [icon]="saveKeyIcon" pack="eva"></nb-icon>
          </button>
          <code [innerHtml]="fileConfigCommandShow">
            {{ fileConfigCommandShow }}
          </code>
        </pre>
      </nb-card-body>  
    </nb-card> 
    <p style="margin-left: 1rem;">
      <a href="https://orb.community/documentation/running_orb_agent/#configuration-files"
        target="_blank"
        style="background-color: #ff9f05 !important;">Click here 
      </a>
      &nbsp; <span style="color: #ff9f05 !important;">to learn more about how create and apply configuration files.</span>
    </p> 
  </nb-card-body>

  <nb-card-footer>
    <button
      (click)="onClose()"
      ghost
      nbButton
      status="primary">Close
    </button>
  </nb-card-footer>
</nb-card>
