<nb-card>
  <nb-card-header>
    Agent Credentials
    <button nbButton
            ghost="true"
            size="small"
            class="orb-close-dialog align-content-end"
            (click)="onClose()"
            data-orb-qa-id="button#close">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>

  <nb-card-body>
    <p>Make sure to copy the Agent Key now. You won’t be able to see it again!</p>

    <label>Agent Key</label>
    <pre><button [cdkCopyToClipboard]="key2copy" class="copy"><nb-icon icon="clipboard-outline" pack="eva" ></nb-icon></button><code>{{ agent?.key }}</code></pre>
    
    <label>Provisioning Command</label>
    <pre><button [cdkCopyToClipboard]="command2copy" class="copy"><nb-icon icon="clipboard-outline" pack="eva" ></nb-icon></button><code>{{ command2copy }}</code></pre>
  </nb-card-body>

  <nb-card-footer>
    <button 
      nbButton
      ghost
      status="primary"
      (click)="onClose()">Close</button>
  </nb-card-footer>
</nb-card>
