<div>
  <header data-orb-qa-id="agent#add">
    <xng-breadcrumb class="orb-breadcrumb"
                    data-orb-qa-id="breadcrumb">
    </xng-breadcrumb>
    <h4>{{isEdit ? 'Edit Agent' : 'New Agent'}}</h4>
  </header>
  <div class="d-flex row">
    <div *ngIf="!isLoading"
         class="d-flex col-12 mt-5">
      <nb-stepper class="stepper w-100 ml-2"
                  disableStepNavigation
                  orientation="vertical">
        <nb-step [label]="firstStepTemplate"
                 [stepControl]="firstFormGroup"
                 data-orb-qa-id="step_1">
          <ng-template #firstStepTemplate>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title1}}</strong>
              <p>{{strings.add.step.desc1}}</p>
            </div>
          </ng-template>
          <form (ngSubmit)="onFormSubmit()"
                [formGroup]="firstFormGroup">
            <nb-form-field>
              <div class="d-flex flex-column">
                <div>
                  <label class="font-weight-bold">{{strings.propNames.name}}</label>
                  <span class="required">*</span>
                </div>
                <input autofocus
                       data-orb-qa-id="input#name"
                       fieldSize="medium"
                       formControlName="name"
                       fullWidth="true"
                       [status]="firstFormGroup?.controls.name.touched ? (!firstFormGroup.controls.name.valid  ? 'danger' : 'success') : 'basic'"
                       nbInput/>
                <ng-container *ngIf="firstFormGroup?.controls.name.touched && !firstFormGroup.controls.name.valid">
                  <p *ngIf="!firstFormGroup.controls.name.value" class="caption status-danger mb-1">
                    Agent name is required!
                  </p>
                  <p *ngIf="!!firstFormGroup.controls.name.value" class="caption status-danger mb-1">
                    Agent name must start with a letter or "_" and contain only letters, numbers, "-" or "_"
                  </p>
                </ng-container>
              </div>
            </nb-form-field>
            <hr/>
            <div class="d-flex justify-content-end">
              <button [disabled]="!firstFormGroup.valid"
                      class="next-button"
                      data-orb-qa-id="button#next"
                      nbButton
                      nbStepperNext
                      shape="round"
                      status="primary"
                      type="submit">
                {{ strings.stepper.next }}
              </button>
              <button (click)="goBack()"
                      data-orb-qa-id="button#cancel"
                      ghost
                      nbButton
                      shape="round"
                      status="primary"
                      type="button">
                {{ strings.stepper.cancel }}
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="secondStepLabel"
                 data-orb-qa-id="step_2">
          <ng-template #secondStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title2}}</strong>
              <p>{{strings.add.step.desc2}}</p>
            </div>
          </ng-template>
          <div class="d-flex flex-wrap">
            <p *ngIf="(selectedTags | json) === '{}'">Agent tags are optional and may be set here or when you are
              provisioning an Agent.<br> The lack of tags will block an Agent to be matched during the Agent Group
              creation.</p>
            <ngx-tag-control [(tags)]="selectedTags" autofocus></ngx-tag-control>
            <hr>
          </div>
          <div class="d-flex justify-content-end">
            <button class="next-button"
                    data-orb-qa-id="button#next"
                    nbButton
                    nbStepperNext
                    shape="round"
                    status="primary"
                    type="submit">
              {{ strings.stepper.next }}
            </button>
            <button data-orb-qa-id="button#back"
                    ghost
                    nbButton
                    nbStepperPrevious
                    shape="round"
                    status="primary">
              {{ strings.stepper.back }}
            </button>
            <button (click)="goBack()"
                    data-orb-qa-id="button#cancel"
                    ghost
                    nbButton
                    shape="round"
                    status="primary"
                    type="button">
              {{ strings.stepper.cancel }}
            </button>
          </div>
        </nb-step>
        <nb-step [label]="thirdStepLabel"
                 data-orb-qa-id="step_3">
          <ng-template #thirdStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title3}}</strong>
            </div>
          </ng-template>
          <div class="d-flex row">
            <div class="col-12">
              <div>
                <label class="font-weight-bold">{{strings.propNames.name}}</label>
                <p data-orb-qa-id="review-name">{{firstFormGroup.controls.name.value}}</p>
              </div>
            </div>
          </div>
          <hr/>
          <div class="d-flex row">
            <div class="col-12">
              <label class="font-weight-bold">Orb Tags</label>
              <ngx-tag-display [tags]="selectedTags"></ngx-tag-display>
            </div>
          </div>
          <hr/>
          <div class="d-flex justify-content-end">
            <button (click)="onFormSubmit()"
                    autofocus
                    class="next-button"
                    data-orb-qa-id="button#save"
                    nbButton
                    shape="round"
                    status="primary"
                    type="submit">
              {{ strings.stepper.save }}
            </button>
            <button data-orb-qa-id="button#back"
                    ghost
                    nbButton
                    nbStepperPrevious
                    shape="round"
                    status="primary">
              {{ strings.stepper.back }}
            </button>
            <button (click)="goBack()"
                    data-orb-qa-id="button#cancel"
                    ghost
                    nbButton
                    shape="round"
                    status="primary"
                    type="button">
              {{ strings.stepper.cancel }}
            </button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
</div>
