<nb-card>
  <nb-card-header>User Information</nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" [(ngModel)]="firstName">
          </div>
          <div class="col-sm-12 col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="lastName">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" readonly>
          </div>
          <div class="col-sm-12 col-md-6">
            <label>Company</label>
            <input type="text" class="form-control" [(ngModel)]="company">
          </div>
        </div>
      </div>
    </div>
    <button nbButton size="medium" class="button-blue"
      (click)="onClickSaveInfos($event)">
      <nb-icon icon="save-outline"></nb-icon>
      Save
    </button>
  </nb-card-body>
</nb-card>

<!-- User Password -->
<nb-card>
  <nb-card-header>Change Password</nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <div class="col-sm-4">
        <label>New Password</label>
        <input type="password" [(ngModel)]="newPassword"
               class="form-control" placeholder="New Password">
      </div>
      <div class="col-sm-4">
        <label>Confirm Password</label>
        <input type="password" [(ngModel)]="confirmPassword"
               class="form-control" placeholder="Confirm Password">
      </div>
      <div class="col-sm-4">
        <label>Old Password</label>
        <input type="password" [(ngModel)]="oldPassword"
               class="form-control" placeholder="Old Password">
      </div>
    </div>
    <button nbButton size="medium" class="button-blue"
      (click)="onClickSavePassword($event)">
      <nb-icon icon="save-outline"></nb-icon>
      Save
    </button>
  </nb-card-body>
</nb-card>
