button {
  float: right;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  flex: 1;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
::ng-deep {
  .orb-breadcrumb {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;

    ::ng-deep {
      .xng-breadcrumb-trail {
        color: #fff !important;
        margin-bottom: 0 !important;
      }

      .xng-breadcrumb-link {
        color: #969fb9 !important;
        text-decoration: none !important;
      }

      .xng-breadcrumb-separator {
        color: #969fb9 !important;
        text-decoration: none !important;
      }
    }
  }
}
.header-subtitle {
  color: #969FB9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400; 
  margin: 0;
}
.account-information-card {
  width: 500px !important;
  height: fit-content;
}
.circle { 
  width: 42px;
  height: 42px; 
  border-radius: 50%; 
}
.info-container { 
  display: flex;
  align-items: center; 
  position: relative;
}
.user-name-title {
  color: var(--Lilac-gray, #969FB9);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px; 
  margin-bottom: 5px;
}
.user-name {
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px; 
}
.edit-button {
  color: #3089FC;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 600; 
  transition: background-color 0.3s ease !important;
  transition: color 0.3s ease !important;
  border-radius: 16px;
  padding: 5px 10px;
}
.edit-button:disabled {
  color: #969FB9
}
.edit-button-work {
  @extend .edit-button;
  float: right;
}

.edit-button-profile {
  @extend .edit-button;
  position: absolute;
  top: 0.7rem;
  right: 0;
}

.edit-button:hover {
  background-color: #222533 !important;
}
nb-card {
  padding: 0 !important;
  nb-card-header {
    margin: 0 !important;
    background-color: #232940 !important;
    border-bottom: transparent !important;
    border-radius: 8px !important;
    color: #969fb9 !important;
    padding: 0.5rem 1rem !important;
    font-weight: 600 !important; 
    font-size: 15px !important; 
    
  }
  nb-card-body {
    margin: 0 !important;
    background-color: #2B3148 !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
}
label {
  color: #969FB9;
}
.float-right {
  float: right;
}
input {
  max-width: max-content;
}
.input-password {
  margin-bottom: 20px;
  background-color: #313E5D !important;
  border: none;
  border-radius: 2px;
}
span {
  color: #df316f;
}
