<nb-select
    #sinkSelLead
    [(selected)]="selectedSink"
    appearance="filled"
    autofocus
    class="sink-dropdown-selector"
    data-orb-qa-id="sink_selector"
    placeholder="Sink Name">
  <nb-option
    *ngFor="let sink of sinksList"
    [attr.data-orb-qa-id]="'available_sink: '+sink.id"
    [id]="sink.id"
    [value]="sink">{{ sink.name }}</nb-option>
</nb-select>
<button
  (click)="onAddSink(selectedSink)"
  [disabled]="!selectedSink"
  data-orb-qa-id="addSink"
  ghost
  nbButton>
  <nb-icon
    icon="plus-outline"
    size="14"
    status="primary"
    style="color: #df316f;">
  </nb-icon>
</button>