::ng-deep {
  .login-layout {
    background: url('assets/images/login-background.png');

    .orb-pane {
      background-blend-mode: normal;
      background-color: transparent;
      padding: 0;
      margin: 0.2vh 350px 0.2vh 144px;
      display: flex;

       div {
         max-width: 331px;

         img {
           width: 313px;
           height: 119px;
           margin-bottom: 47px;
         }

         p {
           font-family: 'Montserrat', serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 200 !important;
          line-height: 32px;
          letter-spacing: 0;
          text-align: left;
          color: #969fb9;
        }

        strong {
          //styleName: Page Title;
          font-family: 'Montserrat', serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 400 !important;
          line-height: 32px;
          letter-spacing: 0;
          text-align: left;

        }
      }
    }

    .form-pane {
      background: url('assets/images/login-panel-background.png');

    }
  }
}
