::ng-deep {
  .login-layout {
    background: url("assets/images/login-background.png");
    mix-blend-mode: soft-light;

    .orb-pane {
      background-color: transparent;
      padding: 262px 350px 200px 144px;
      display: flex;

      div {
        img {
          width: 313px;
          height: 119px;
        }

        p {
          font-family: 'Montserrat', serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 200;
          line-height: 32px;
          letter-spacing: 0em;
          text-align: left;
        }

        strong {
          //styleName: Page Title;
          font-family: 'Montserrat', serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0em;
          text-align: left;

        }
      }
    }

    .form-pane {

      background: url("assets/images/login-panel-background.png");
    }
  }
}