<span class="created-by">
  <p>  
    Made with ♥ by <b><a href="https://mainflux.com" target="_blank">Mainflux</a></b> 2020
  </p>
  <p>
    <em>{{disclaimer}}</em>
  </p>
</span>
<div class="socials">
  <a href="https://github.com/mainflux/mainflux" target="_blank" class="ion ion-social-github"></a>
  <a href="https://www.facebook.com/mainflux" target="_blank" class="ion ion-social-facebook"></a>
  <a href="https://twitter.com/mainflux" target="_blank" class="ion ion-social-twitter"></a>
  <a href="https://www.linkedin.com/company/mainflux" target="_blank" class="ion ion-social-linkedin"></a>
</div>
