@import '../../../@theme/styles/themes.scss';

table {
  width: 100%;
  table-layout: fixed;
}

td, th {
  text-align: left;
  padding: 6px;
}

.no-msg {
  text-align: center;
  padding-top: 50px;
}

// TODO ORB CSS
$orb-online: #61f69f;
$orb-stale: #f2994a;

$orb-white: #ffffff;
$orb-gray: #969fb9;
$orb-primary: #3089fc;
$orb-secondary: #df316f;
$orb-bg1: #171c30;
$orb-bg2: #232940;
$orb-bg3: #2b3148;

$orb-primary-active: #3089fc;
$orb-primary-hover: #226fd2;
$orb-primary-pressed: #0c5dc5;
$orb-primary-focused: #0c5dc5;
$orb-primary-inactive: #969fb9;


.orb-action-hover {
  margin: 0;
  padding: 0;
  z-index: 999;
  background-color: #2B3148;

  :hover {
    background-color: #2B3148;
    color: $orb-gray;
  }
}

.orb-action-hover-container {
  display: inline-block !important;
  background-color: #2B3148;
  color: #2B3148;

  .icon {
    background-color: #2B3148;
  }
}

.orb-tag-sink {
  background: $orb-primary;
  color: $orb-white;
}

.orb-service-active {
  color: $orb-online;
}

.orb-service-inactive {
  color: $orb-stale;
}
