<table class="container sink-table">
  <thead>
  <tr>
    <th *ngFor="let colName of config.colNames"
        class="sink-table-title">
      <div [ngSwitch]="colName">
        <div class="d-flex justify-content-end">
          <button *ngSwitchCase="'orb-sink-add'"
                  nbButton ghost=true
                  class="button-new-sink"
                  (click)="onAdd()">
            <i class="fa fa-plus">&nbsp;</i>{{strings.sink.list.create}}
          </button>
        </div>
        <span *ngSwitchDefault>
          {{ colName }}
        </span>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of page.rows"
      (mouseenter)="onMouseEnter($event, row)"
      (mouseleave)="onMouseLeave($event, row)">
    <td *ngFor="let key of config.keys"
        class="sink-table-row">
      <div [ngSwitch]="key">
        <div *ngSwitchCase="'checkbox'">
          <nb-checkbox (checkedChange)="onToggleCheckbox(row)"></nb-checkbox>
        </div>
        <div *ngSwitchCase="'time'">
          {{ row[key] | toMillisecs | date:'medium' }}
        </div>
        <div *ngSwitchCase="'status'">
          <div *ngIf="row[key] === 'active'">
            <i class="fa fa-circle orb-service-active"
               aria-hidden="true"></i>
            {{ row[key] | titlecase }}
          </div>
          <div *ngIf="row[key] !== 'active'">
            <i class="fa fa-circle orb-service-inactive"
               aria-hidden="true"></i>
            {{ row[key] | titlecase }}
          </div>
        </div>
        <div *ngSwitchCase="'tags'">
          <mat-chip-list>
            <mat-chip
                class="orb-tag-sink "
                *ngFor="let tag of row[key] | keyvalue">
              <span class="align-content-center" style="font-size: 11px;">{{tag.key}}, {{tag.value}}</span>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div *ngSwitchCase="'created'">
          {{ row[key] | date:'long' }}
        </div>
        <div class="orb-action-hover-container orb-table-actions"
             *ngSwitchCase="'orb-action-hover'">
          <div>
            <button nbButton
                    class="orb-action-hover detail-button"
                    (click)="onDetails(row)">
              <nb-icon icon="search-outline"></nb-icon>
            </button>
            <button nbButton
                    class="orb-action-hover edit-button"
                    (click)="onEdit(row)">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            <button nbButton
                    class="orb-action-hover del-button"
                    (click)="onDelete(row)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </div>
        </div>
        <div *ngSwitchDefault>
          <div [ngSwitch]="isObject(row[key])">
            <div *ngSwitchCase="true">
              <pre>{{ row[key] | json }}</pre>
            </div>
            <div *ngSwitchDefault>
              {{ row[key] }}
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
