<div>
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>{{strings[isEdit ? 'edit' : 'add']['header']}}</h4>
  </header>
  <div class="d-flex row">
    <div class="d-flex col-12 mt-md-0 mt-lg-3">
      <nb-stepper
        *ngIf="!isLoading"
        class="stepper w-100 ml-sm-0 ml-lg-2"
        disableStepNavigation
        orientation="vertical">
        <nb-step
          [label]="firstStepTemplate"
          [stepControl]="firstFormGroup">
          <ng-template #firstStepTemplate>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title1}}</strong>
              <p>{{strings.add.step.desc1}}</p>
            </div>
          </ng-template>
          <form
            (ngSubmit)="onFormSubmit()"
            [formGroup]="firstFormGroup">
            <nb-form-field>
              <div class="d-flex flex-column">
                <div>
                  <label class="font-weight-bold">{{strings.propNames.name}}</label>
                  <span class="required">*</span>
                </div>
                <input
                  autofocus
                  fieldSize="medium"
                  formControlName="name"
                  fullWidth="true"
                  nbInput/>
              </div>
            </nb-form-field>
            <hr/>
            <nb-form-field>
              <div>
                <label class="font-weight-bold">{{strings.propNames.description}}</label>
              </div>
              <input
                fieldSize="medium"
                formControlName="description"
                fullWidth="true"
                nbInput/>
            </nb-form-field>
            <hr/>
            <div class="d-flex justify-content-end">
              <button
                [disabled]="!firstFormGroup.valid"
                class="next-button"
                data-orb-qa-id="button#next"
                nbButton
                nbStepperNext
                shape="round"
                status="primary"
                type="submit">
                {{ strings.stepper.next }}
              </button>
              <button
                (click)="goBack()"
                data-orb-qa-id="button#cancel"
                ghost
                nbButton
                shape="round"
                status="primary"
                type="button">
                {{ strings.stepper.cancel }}
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="secondStepLabel">
          <ng-template #secondStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title2}}</strong>
              <p>{{strings.add.step.desc2}}</p>
            </div>
          </ng-template>
          <ngx-tag-control
            (tagsChange)="updateMatches()"
            [(tags)]="selectedTags"></ngx-tag-control>
          <hr/>
          <div class="d-flex row">
            <div class="col-12">
              <div>
                <p *ngIf="tagMatch?.total && tagMatch.total > 0">
                  {{strings.match.matchAny}}&nbsp;{{tagMatch.total}}&nbsp;{{strings.match.agents}}.
                </p>
                <p *ngIf="!tagMatch.total || tagMatch.total === 0">
                  {{strings.match.matchNone}}
                </p>
              </div>
            </div>
          </div>
          <hr/>
          <div class="d-flex justify-content-end">
            <button
              [disabled]="!selectedTagsValid()"
              class="next-button"
              data-orb-qa-id="button#save"
              nbButton
              nbStepperNext
              shape="round"
              status="primary"
              type="submit">
              {{ strings.stepper.next }}
            </button>
            <button
              data-orb-qa-id="button#back"
              ghost
              nbButton
              nbStepperPrevious
              status="primary">
              {{ strings.stepper.back }}
            </button>
            <button
              (click)="goBack()"
              data-orb-qa-id="button#cancel"
              ghost
              nbButton
              status="primary"
              type="button">
              {{ strings.stepper.cancel }}
            </button>
          </div>
        </nb-step>
        <nb-step [label]="thirdStepLabel">
          <ng-template #thirdStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title3}}</strong>
            </div>
          </ng-template>
          <div
            *ngIf="!expanded"
            class="d-flex row">
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">{{strings.propNames.name}}</label>
                <p>{{firstFormGroup.controls.name.value}}</p>
              </div>
            </div>
            <hr/>
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">{{strings.propNames.description}}</label>
                <p>{{firstFormGroup.controls.description.value}}</p>
              </div>
            </div>
            <hr/>
          </div>
          <div class="d-flex row">
            <div class="col-12">
              <ngx-tag-display [tags]="selectedTags"></ngx-tag-display>
            </div>
          </div>
          <hr/>
          <div class="d-flex row">
            <div class="col-12">
              <div>
                <p *ngIf="tagMatch?.total && tagMatch.total > 0">
                  {{strings.match.matchAny}}&nbsp;{{tagMatch.total}}&nbsp;{{strings.match.agents}}
                                            .&nbsp;<button
                  (click)="toggleExpandMatches()"
                  class="appearance-ghost size-small status-basic button-expand"
                  nbButton>{{expanded
                    ? strings.match.collapse
                    : strings.match.expand}}</button>
                </p>
                <p *ngIf="!tagMatch.total || tagMatch.total === 0">
                  {{strings.match.matchNone}}
                </p>
              </div>
            </div>
          </div>
          <div
            *ngIf="expanded"
            class="d-flex row">
            <div class="tag-table">
              <ngx-datatable
                  #table
                  *ngIf="columns"
                  [columnMode]="columnMode.standard"
                  [columns]="columns"
                  [footerHeight]="50"
                  [headerHeight]="50"
                  [rowHeight]="50"
                  [rows]="matchingAgents"
                  [scrollbarV]="true"
                  [virtualization]="false"
                  class="orb"
                  style="height: 100%;">
              </ngx-datatable>
            </div>
          </div>
          <hr/>
          <div class="d-flex justify-content-end">
            <button
              (click)="onFormSubmit()"
              class="next-button"
              data-orb-qa-id="button#save"
              nbButton
              shape="round"
              status="primary"
              type="submit">
              {{ strings.stepper.save }}
            </button>
            <button
              data-orb-qa-id="button#back"
              ghost
              nbButton
              nbStepperPrevious
              status="primary">
              {{ strings.stepper.back }}
            </button>
            <button
              (click)="goBack()"
              data-orb-qa-id="button#cancel"
              ghost
              nbButton
              status="primary"
              type="button">
              {{ strings.stepper.cancel }}
            </button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
</div>

<ng-template
    #agentStateTemplateCell
    let-i="index"
    let-row="row"
    let-value="value">
  <div>
    <div>
      <i
        aria-hidden="true"
        class="fa fa-circle orb-service-{{ row.state }}"></i>
      {{ row.state | titlecase }}
    </div>
  </div>
</ng-template>

<ng-template
    #agentTagsTemplateCell
    let-i="index"
    let-row="row"
    let-value="value">
  <div class="d-block">
    <mat-chip-list>
      <mat-chip
        *ngFor="let tag of value | keyvalue"
        [style.background-color]="tag | tagcolor"
        class="orb-tag-chip ">
        {{tag | tagchip}}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>

<ng-template
    #agentLastHBTemplateCell
    let-i="index"
    let-row="row"
    let-value="value">
  <div>
    {{ row.ts_last_hb | date: 'M/d/yy, HH:mm z' }}
  </div>
</ng-template>
