nb-card {
  width: 400px;
}

button {
  margin: 10px;
}

textarea {
  width: 100%;
  height: 100%;
}

nb-card-footer {
  text-align: center;
}

mat-chip nb-icon {
  font-size: 1rem;
}

::ng-deep {
  .header {
    align-items: flex-end !important;
    margin-right: 10px !important;
    height: calc(100vh - 337px) !important;
  }

  .label-index {
    background-color: #969fb9;
    transition: box-shadow 0.3s 0s ease-in-out;
    color: #969fb9;
    border: none !important;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjUgMy45OTY1MUw0LjE4NjgyIDcuNjgzMzNMMTAuODIzMSAxLjA0NzA2TDkuNzgzNDEgMEw0LjE4NjgyIDUuNTk2NTlMMS41Mzk2OCAyLjk1NjgzTDAuNSAzLjk5NjUxWiIgZmlsbD0iIzE1MWEzMCIvPgo8L3N2Zz4K');
    background-size: 20px 14px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;

    :first-child {
      visibility: hidden;
    }
  }

  nb-layout-column {
    padding: 1rem 1rem 0.75rem !important;
  }

  .step {
    flex-direction: row-reverse !important;
    align-items: start !important;

    &-label {
      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #969fb9;
      }

      strong {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #969fb9;
      }
    }
  }

  //
  //.step.completed {
  //   & > .label-index {
  //      box-shadow: 0 0 12px 1px #df316f;
  //      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjUgMy45OTY1MUw0LjE4NjgyIDcuNjgzMzNMMTAuODIzMSAxLjA0NzA2TDkuNzgzNDEgMEw0LjE4NjgyIDUuNTk2NTlMMS41Mzk2OCAyLjk1NjgzTDAuNSAzLjk5NjUxWiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K');
  //      background-color: #969fb9;
  //  }
  //}

  .step.selected {
    p {
      color: #fff;
    }

    strong {
      color: #fff;
    }

    & > .label-index {
      box-shadow: 0 0 12px 1px #df316f;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjUgMy45OTY1MUw0LjE4NjgyIDcuNjgzMzNMMTAuODIzMSAxLjA0NzA2TDkuNzgzNDEgMEw0LjE4NjgyIDUuNTk2NTlMMS41Mzk2OCAyLjk1NjgzTDAuNSAzLjk5NjUxWiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K');
      background-color: #df316f;
    }
  }


  .step-content {
    min-width: 500px !important;
  }

  .connector {
    width: 1px !important;
    transform: translateX(1px);

    &::after {
      content: '';
      height: 70px;
      transform: translateY(-70px);
      width: 1px;
      border-left: solid 1px #969fb9b3;
      position: absolute;
      z-index: 1;
    }
  }

  .connector.connector-past {
    transition: background 0.5s 0s ease-in-out;

    &::after {
      transition: border 0.5s 0s ease-in-out;
      border-left: solid 1px #df316f;
    }
  }
}

.required {
  color: #df316f;
  padding-left: 2px;
}

.step-label {
  width: 214px;
  text-align: end;
}

::ng-deep .orb-breadcrumb {
  align-items: center;

  display: flex;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  ::ng-deep .xng-breadcrumb-trail {
    color: #ffffff !important;

    &::before {
      color: #969fb9 !important;
    }
  }
}

.button-expand {
  width: 155px;
  height: 236px;
  border: 1px solid #969fb9;
  background: #232940;
  box-sizing: border-box;
  justify-content: flex-end;
  display: contents;

  &::ng-deep div {
    display: flex !important;
    justify-content: flex-end !important;
  }

  &:hover {
    background: #232940;
    border: 1px solid #3089fc;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:active {
    background: #232940;
    border: 1px solid #3089fc;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:default {
    background: #232940;
    border: 1px solid #969fb9;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

tr div p {
  :hover {
    color: #2a64f6;
  }
}

.tag-table {
  position: relative;
  left: 0;
  min-height: 18vw;
  height: 25vw;
  max-height: 30vw;
  width: 57vw;
}

.orb-service- {
  &new {
    color: #9b51e0;
  }

  &online {
    color: #6fcf97;
  }

  &stale {
    color: #f2994a;
  }

  &error {
    color: #df316f;
  }

  &offline {
    color: #969fb9;
  }
}
