<div>
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>{{strings[isEdit ? 'edit' : 'add']['header']}}</h4>
  </header>
  <div class="d-flex row">
    <div class="d-flex col-12 mt-md-0 mt-lg-3">
      <nb-stepper
        *ngIf="!isLoading"
        class="stepper w-100 ml-sm-0 ml-lg-2"
        disableStepNavigation
        orientation="vertical">
        <nb-step
          [label]="firstStepTemplate"
          [stepControl]="firstFormGroup">
          <ng-template #firstStepTemplate>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title1}}</strong>
              <p>{{strings.add.step.desc1}}</p>
            </div>
          </ng-template>
          <form
            (ngSubmit)="onFormSubmit()"
            [formGroup]="firstFormGroup">
            <nb-form-field>
              <div class="d-flex flex-column">
                <div>
                  <label class="input-label">{{strings.propNames.name}}<span class="required">*</span></label>
                </div>
                <input
                  autofocus
                  fieldSize="medium"
                  formControlName="name"
                  [status]="firstFormGroup?.controls.name.dirty ? (!firstFormGroup.controls.name.valid  ? 'danger' : 'success') : 'basic'"
                  fullWidth="true"
                  nbInput
                  placeholder="Agent Group Name"/>
              </div>
              <ng-container *ngIf="firstFormGroup?.controls.name.dirty && !firstFormGroup.controls.name.valid">
                <div *ngIf="!firstFormGroup.controls.name.value" class="caption status-danger mb-1">
                  Name is required!
                </div>
                <div *ngIf="!!firstFormGroup.controls.name.errors?.pattern" class="caption status-danger mb-1">
                  Name must start with a letter or "_" and contain only letters, numbers, "-" or "_"
                </div>
                <div *ngIf="firstFormGroup?.controls.name.errors?.maxlength" class="caption status-danger mb-1">
                  Name must be less than {{firstFormGroup.controls.name.errors?.maxlength.requiredLength}} characters
                </div>
              </ng-container>
            </nb-form-field>
            <hr/>
            <nb-form-field>
              <div>
                <label class="input-label">{{strings.propNames.description}}</label>
              </div>
              <input
                fieldSize="medium"
                formControlName="description"
                fullWidth="true"
                [status]="firstFormGroup?.controls.description.touched ? (!firstFormGroup.controls.description.valid  ? 'danger' : 'success') : 'basic'"
                nbInput
                placeholder="Agent Group Description"/>
                <ng-container *ngIf="firstFormGroup?.controls.description.touched && !firstFormGroup.controls.description.valid">
                  <p *ngIf="firstFormGroup?.controls.description.errors?.maxlength" class="caption status-danger mb-1">
                    Description must be less than {{firstFormGroup.controls.description.errors?.maxlength.requiredLength}} characters
                  </p>
                </ng-container>
            </nb-form-field>
            <hr/>
            <div class="d-flex justify-content-end">
              <button
                (click)="goBack()"
                data-orb-qa-id="button#cancel"
                ghost
                class="cancel-back-button"
                shape="round"
                status="primary"
                type="button">
                {{ strings.stepper.cancel }}
              </button>
              <button
                [disabled]="!firstFormGroup.valid"
                class="next-button"
                data-orb-qa-id="button#next"
                class="next-button"
                nbStepperNext
                shape="round"
                status="primary"
                type="submit">
                {{ strings.stepper.next }}
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="secondStepLabel">
          <ng-template #secondStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title2}}</strong>
              <p>{{strings.add.step.desc2}}</p>
            </div>
          </ng-template>
          <div class="d-flex row flex-column">
            <ngx-tag-control
              (tagsChange)="updateMatches()"
              [(tags)]="selectedTags"></ngx-tag-control>
          </div>
          <div class="d-flex row" style="margin-top: 30px;">
            <p *ngIf="tagMatch?.total && tagMatch.total > 0" class="summary-accent">
              {{strings.match.matchAny}}&nbsp;<span style="color: #2a64f6; font-weight: 700;">{{tagMatch.total}}</span>
              &nbsp;{{strings.match.agents}}&nbsp;
              <button
              style="color: #2a64f6 !important;"
                (click)="toggleExpandMatches()"
                class="appearance-ghost size-small status-basic button-expand"
                nbButton>{{ expanded ? "Collapse": "Expand" }}
              </button>
            </p>
            <p *ngIf="!tagMatch.total || tagMatch.total === 0" class="summary-accent">
              {{strings.match.matchNone}}
            </p>
          </div>
          <div
                  *ngIf="expanded"
                  class="d-flex tag-table">
            <ng-container *ngTemplateOutlet="matchingAgentsTable; context: {matchingAgents: matchingAgents}">
            </ng-container>
          </div>
          <hr/>
          <div class="d-flex justify-content-end">
            <button
              (click)="goBack()"
              data-orb-qa-id="button#cancel"
              ghost
              class="cancel-back-button"
              status="primary"
              type="button">
              {{ strings.stepper.cancel }}
            </button>
            <button
              data-orb-qa-id="button#back"
              ghost
              class="cancel-back-button"
              nbStepperPrevious
              status="primary">
              {{ strings.stepper.back }}
            </button>
            <button
              [disabled]="!selectedTagsValid()"
              class="next-button"
              data-orb-qa-id="button#save"
              class="next-button"
              nbStepperNext
              shape="round"
              status="primary"
              (click)="expanded = false;"
              type="submit">
              {{ strings.stepper.next }}
            </button>
          </div>
        </nb-step>
        <nb-step [label]="thirdStepLabel">
          <ng-template #thirdStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title3}}</strong>
            </div>
          </ng-template>
          <div
            class="d-flex row column-direction">
            <div class="col-md-12 col-xl-6">
              <div class="max-width-vw">
                <label class="review-label">{{strings.propNames.name}}</label>
                <p>{{firstFormGroup.controls.name.value}}</p>
              </div>
            </div>
            <div class="col-md-12 col-xl-6">
              <div class="max-width-vw">
                <label class="review-label">Description</label>
                <p *ngIf="firstFormGroup.controls.description.value">{{firstFormGroup.controls.description.value}}</p>
                <p *ngIf="!firstFormGroup.controls.description.value" style="font-style: italic; font-size: 14px;">No description added</p>
              </div>
            </div>
          </div>
          <div class="d-flex row">
            <div class="col-8">
              <label class="review-label" style="margin-bottom: 3px;">Tags</label>
              <ngx-tag-display [tags]="selectedTags"></ngx-tag-display>
            </div>
          </div>
          <hr/>
          <div class="d-flex row">
            <div class="col-12">
              <div>
                <p *ngIf="tagMatch?.total && tagMatch.total > 0" class="summary-accent">
                  {{strings.match.matchAny}}&nbsp;<span style="color: #2a64f6; font-weight: 700;">{{tagMatch.total}}</span>
                  &nbsp;{{strings.match.agents}}&nbsp;
                  <button
                  style="color: #2a64f6 !important;"
                    (click)="toggleExpandMatches()"
                    class="appearance-ghost size-small status-basic button-expand"
                    nbButton>{{ expanded ? "Collapse": "Expand" }}
                  </button>
                </p>
                <p *ngIf="!tagMatch.total || tagMatch.total === 0">
                  {{strings.match.matchNone}}
                </p>
              </div>
            </div>
          </div>
          <div
                  *ngIf="expanded"
                  class="d-flex tag-table">
            <ng-container *ngTemplateOutlet="matchingAgentsTable; context: {matchingAgents: matchingAgents}">
            </ng-container>
          </div>
          <hr/>
          <div class="d-flex justify-content-end">
            <button
              (click)="goBack()"
              data-orb-qa-id="button#cancel"
              ghost
              class="cancel-back-button"
              status="primary"
              type="button">
              {{ strings.stepper.cancel }}
            </button>
            <button
              data-orb-qa-id="button#back"
              ghost
              class="cancel-back-button"
              nbStepperPrevious
              status="primary">
              {{ strings.stepper.back }}
            </button>
            <button
              (click)="onFormSubmit()"
              class="next-button"
              data-orb-qa-id="button#save"
              shape="round"
              status="primary"
              type="submit"
              [disabled]="isRequesting">
              {{ strings.stepper.save }}
            </button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
</div>

<ng-template
    #agentStateTemplateCell
    let-i="index"
    let-row="row"
    let-value="value">
  <div>
    <div>
      <i
        aria-hidden="true"
        class="fa fa-circle orb-service-{{ row.state }}"></i>
      {{ row.state | titlecase }}
    </div>
  </div>
</ng-template>

<ng-template
    #agentTagsTemplateCell
    let-i="index"
    let-row="row"
    let-value="value">
<mat-chip-list nbTooltip="{{ value | json }}">
    <mat-chip
      *ngFor="let tag of value | keyvalue"
      style="background-color: #2B3148;"
      class="orb-tag-chip"
    >
      <span [style.color]="tag.key | tagcolor">{{ tag.key }}</span><span style="color: #969FB9;">:</span>&nbsp;
      <span [style.color]="tag.value | tagcolor">{{ tag.value }}</span>
    </mat-chip>
    <mat-chip
      *ngIf="
        (row?.tags | json) === '{}'
      "
      style="background-color: #2B3148;"
      class="orb-tag-chip"
    >
      <span style="color: #df316f;">No tag were created</span>
    </mat-chip>
  </mat-chip-list>
</ng-template>

<ng-template
    #agentLastHBTemplateCell
    let-i="index"
    let-row="row"
    let-value="value">
  <div>
    {{ row.ts_last_hb | date: 'M/d/yy, HH:mm z' }}
  </div>
</ng-template>

<ng-template
  #matchingAgentsTable
  let-matchingAgents="matchingAgents">
  <ngx-datatable
          #table
          *ngIf="columns"
          [columnMode]="columnMode.force"
          [columns]="columns"
          [footerHeight]="50"
          [headerHeight]="50"
          [rowHeight]="50"
          [rows]="matchingAgents"
          [scrollbarV]="true"
          [virtualization]="false"
          class="orb"
          style="height: 100%; width: 100%">
  </ngx-datatable>
</ng-template>
