<div>
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>{{strings[isEdit ? 'edit' : 'add']['header']}}</h4>
  </header>
  <div class="d-flex row">
    <div class="d-flex col-12 mt-5">
      <nb-stepper orientation="vertical"
                  class="stepper w-100 ml-5"
                  *ngIf="!isLoading"
                  disableStepNavigation>
        <nb-step [label]="firstStepTemplate"
                 [stepControl]="firstFormGroup">
          <ng-template #firstStepTemplate>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title1}}</strong>
              <p>{{strings.add.step.desc1}}</p>
            </div>
          </ng-template>
          <form [formGroup]="firstFormGroup"
                (ngSubmit)="onFormSubmit()">
            <nb-form-field>
              <div class="d-flex flex-column">
                <div>
                  <label class="font-weight-bold">{{strings.propNames.name}}</label>
                  <span class="required">*</span>
                </div>
                <input nbInput
                       autofocus
                       fullWidth="true"
                       fieldSize="medium"
                       formControlName="name"/>
              </div>
            </nb-form-field>
            <hr/>
            <nb-form-field>
              <div>
                <label class="font-weight-bold">{{strings.propNames.description}}</label>
              </div>
              <input nbInput
                     fullWidth="true"
                     fieldSize="medium"
                     formControlName="description"/>
            </nb-form-field>
            <hr/>
            <div class="d-flex justify-content-end">
              <button data-orb-qa-id="button#cancel"
                      nbButton
                      ghost
                      (click)="goBack()"
                      type="button"
                      status="primary">
                {{ strings.stepper.cancel }}
              </button>
              <button data-orb-qa-id="button#next"
                      class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!firstFormGroup.valid" nbStepperNext>
                {{ strings.stepper.next }}
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="secondStepLabel">
          <ng-template #secondStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title2}}</strong>
              <p>{{strings.add.step.desc2}}</p>
            </div>
          </ng-template>
          <form [formGroup]="secondFormGroup">
            <div class="d-flex">
              <mat-chip-list>
                <mat-chip
                  class="orb-tag-sink "
                  *ngFor="let tag of selectedTags | keyvalue"
                  [style.background-color]="tag | tagcolor">
                  {{tag | tagchip}}
                  <nb-icon class="ml-1"
                           (click)="onRemoveTag(tag.key)"
                           icon="close-outline"
                           size="12"></nb-icon>
                </mat-chip>
                <mat-chip
                  *ngIf="(selectedTags | json) === '{}'"
                  [style.background-color]="'notag' | tagcolor"
                  class="orb-tag-sink ">
                  No tag added
                </mat-chip>
              </mat-chip-list>
            </div>
            <hr/>
            <nb-form-field>
              <div class="container d-flex row px-0 mx-0">
                <div class="d-flex flex-column col-5 px-0 mx-0">
                  <div>
                    <label class="font-weight-bold">{{strings.propNames.key}}</label>
                    <span class="required">*</span>
                  </div>
                  <div>
                    <input nbInput
                           autofocus
                           fullWidth="true"
                           fieldSize="medium"
                           formControlName="key"/>
                  </div>
                </div>
                <div class="d-flex justify-content-center align-items-center col-1 mt-4 px-0 mx-0">
                  <nb-icon style="color: #df316f;" icon="plus-outline" size="14"></nb-icon>
                </div>
                <div class="d-flex flex-column col-5 px-0 mx-0">
                  <div>
                    <label class="font-weight-bold">{{strings.propNames.value}}</label>
                    <span class="required">*</span>
                  </div>
                  <div>
                    <input nbInput
                           autofocus
                           fullWidth="true"
                           fieldSize="medium"
                           formControlName="value"/>
                  </div>
                </div>
                <div class="d-flex col-1 align-items-center justify-content-center mx-0 pl-4 px-0"
                     style="transform: translateY(14px);">
                  <button nbButton
                          ghost
                          (click)="onAddTag()"
                          [disabled]="(secondFormGroup.controls['key'].value === '' ||
                          secondFormGroup.controls['value'].value === '')">
                    <nb-icon style="color: #df316f;"
                             status="primary"
                             icon="plus-outline"
                             size="14">
                    </nb-icon>
                  </button>
                </div>
              </div>
            </nb-form-field>
            <hr/>
            <div class="d-flex row">
              <div class="col-12">
                <div>
                  <p *ngIf="tagMatch?.total && tagMatch.total > 0">
                    {{strings.match.matchAny}}&nbsp;{{tagMatch.total}}&nbsp;{{strings.match.agents}}.
                  </p>
                  <p *ngIf="!tagMatch.total || tagMatch.total === 0">
                    {{strings.match.matchNone}}
                  </p>
                </div>
              </div>
            </div>
            <hr/>
            <div class="d-flex justify-content-end"
                 *ngIf="secondFormGroup">
              <button data-orb-qa-id="button#cancel"
                      nbButton
                      ghost
                      (click)="goBack()"
                      type="button"
                      status="primary">
                {{ strings.stepper.cancel }}
              </button>
              <button data-orb-qa-id="button#back"
                      nbButton
                      ghost
                      status="primary"
                      nbStepperPrevious>
                {{ strings.stepper.back }}
              </button>
              <button data-orb-qa-id="button#next"
                      class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="(selectedTags | json) === '{}'"
                      nbStepperNext>
                {{ strings.stepper.next }}
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="thirdStepLabel">
          <ng-template #thirdStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>{{strings.add.step.title3}}</strong>
            </div>
          </ng-template>
          <div class="d-flex row" *ngIf="!expanded">
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">{{strings.propNames.name}}</label>
                <p>{{firstFormGroup.controls.name.value}}</p>
              </div>
            </div>
            <hr/>
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">{{strings.propNames.description}}</label>
                <p>{{firstFormGroup.controls.description.value}}</p>
              </div>
            </div>
          </div>
          <hr/>
          <div class="d-flex row">
            <div class="col-12">
              <mat-chip-list>
                <mat-chip
                  class="orb-tag-sink "
                  *ngFor="let tag of selectedTags | keyvalue"
                  [style.background-color]="tag | tagcolor">
                  {{tag | tagchip}}
                </mat-chip>
                <mat-chip
                  *ngIf="(selectedTags | json) === '{}'"
                  [style.background-color]="'notag' | tagcolor"
                  class="orb-tag-sink ">
                  No tag added
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <hr/>
          <div class="d-flex row">
            <div class="col-12">
              <div>
                <p *ngIf="tagMatch?.total && tagMatch.total > 0">
                  {{strings.match.matchAny}}&nbsp;{{tagMatch.total}}&nbsp;{{strings.match.agents}}
                  .&nbsp;<button nbButton
                                 class="appearance-ghost size-small status-basic button-expand"
                                 (click)="toggleExpandMatches()">{{expanded
                  ? strings.match.collapse
                  : strings.match.expand}}</button>
                </p>
                <p *ngIf="!tagMatch.total || tagMatch.total === 0">
                  {{strings.match.matchNone}}
                </p>
              </div>
            </div>
          </div>
          <hr/>
          <div class="d-flex row" *ngIf="expanded">
            <div class="tag-table">
              <ngx-datatable
                class="orb w-100"
                style="height: 500px;"
                [rows]="matchingAgents"
                [scrollbarV]="true"
                [columns]="columns"
                [columnMode]="columnMode.flex"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50">
              </ngx-datatable>
            </div>
          </div>
          <hr/>
          <div class="d-flex justify-content-end"
               *ngIf="secondFormGroup">
            <button data-orb-qa-id="button#cancel"
                    nbButton
                    ghost
                    (click)="goBack()"
                    type="button"
                    status="primary">
              {{ strings.stepper.cancel }}
            </button>
            <button data-orb-qa-id="button#back"
                    nbButton
                    ghost
                    status="primary"
                    nbStepperPrevious>
              {{ strings.stepper.back }}
            </button>
            <button data-orb-qa-id="button#save"
                    class="next-button"
                    nbButton
                    shape="round"
                    status="primary"
                    (click)="onFormSubmit()"
                    type="submit">
              {{ strings.stepper.save }}
            </button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
</div>

<ng-template #agentStateTemplateCell let-row="row" let-value="value" let-i="index">
  <div>
    <div>
      <i class="fa fa-circle orb-service-{{ row.state }}"
         aria-hidden="true"></i>
      {{ row.state | titlecase }}
    </div>
  </div>
</ng-template>

<ng-template #agentTagsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex">
    <mat-chip-list>
      <mat-chip
        class="orb-tag-sink "
        *ngFor="let tag of value | keyvalue"
        [style.background-color]="tag | tagcolor">
        {{tag | tagchip}}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>
