behave==1.2.6
certifi==2021.10.8
charset-normalizer==2.0.7
docker==5.0.3
idna==3.3
parse==1.19.0
parse-type==0.5.2
requests==2.26.0
selenium==4.1.0
six==1.16.0
urllib3==1.26.7
websocket-client==1.2.1
PyHamcrest==2.0.2
