behave==1.2.6
ciso8601==2.3.1
colorlog==6.8.2
docker==7.1.0
PyHamcrest==2.1.0
PyYAML==6.0.2
retry==0.9.2
selenium==4.23.1
behavex==3.2.0
deepdiff==7.0.1
jsonschema==4.23.0
mkdocs==1.6.1
mkdocs-material==9.5.31
prometheus-client==0.20.0
psutil==6.0.0
webdriver-manager==4.0.2
