<header data-orb-qa-id="agent#view">
  <div class="left-content">
    <xng-breadcrumb class="orb-breadcrumb" data-orb-qa-id="breadcrumb">
    </xng-breadcrumb>
    <div><h4>Agent View</h4></div>
  </div>
  <div class="right-content" style="margin-right: 15px;">
    <button nbButton ghost [className]="'refresh-button'" shape="round" (click)="refreshAgent()">
      <i class="fa fa-redo" [ngClass]="isLoading == true ? 'rotate' : 'paused'" style="color: #3089fc;"></i>
    </button>

    <span class="last-update" *ngIf="lastUpdate !== null">
      Last Update: {{ lastUpdate | date: 'HH:mm:ss a' }}
    </span>
  </div>
  <div *ngIf="!isLoading" style="margin-right: 10px;">
    <button (click)="openDeleteModal()" class="card-button delete-button" data-orb-qa-id="button#reset" nbButton shape="round" style="color: #df316f !important;">
      <nb-icon icon="trash-2-outline"></nb-icon>
      Delete Agent
    </button>
  </div>
  <div *ngIf="!isLoading" style="margin-bottom: 23px;">
    <div style="float: right;">
      <span class="orb-service-{{ agent?.state }} state">
        <i aria-hidden="true" *ngIf="agent?.state !== agentStates.offline" class="fa fa-circle orb-service-{{ agent?.state }}"></i>
        <i aria-hidden="true" *ngIf="agent?.state === agentStates.offline" class="fa offline-circle"></i>
        {{ agent?.state | ngxCapitalize }}
      </span>
    </div>
    <div style="font-size: 14px; font-weight: 400; margin-top: 23px;">
      <span *ngIf="agent?.state !== agentStates.new">
        Last activity
        <span *ngIf="isToday()">
          today, at {{ agent?.ts_last_hb | date: 'HH:mm z' }}
        </span>
        <span *ngIf="!isToday()">
          on {{ agent?.ts_last_hb | date: 'M/d/yy, HH:mm z' }}
        </span>
      </span>
      <span *ngIf="agent?.state === agentStates.new">
        This Agent has been provisioned but never connected.
      </span>
    </div>
  </div>
</header>

<div *ngIf="!isLoading" class="row">
  <div class="card-col col-5">
    <ngx-agent-information (refreshRequests)="onRefreshRequests($event)" [agent]="agent"></ngx-agent-information>
    <ngx-agent-backends [agent]="agent"></ngx-agent-backends>
  </div>

  <div class="card-col col-7">
    <ngx-agent-policies-datasets
      [agent]="agent"
      [datasets]="datasets"
      (refreshAgent)="retrieveAgent()"
    >
    </ngx-agent-policies-datasets>
    <ngx-agent-groups [agent]="agent" [groups]="groups"></ngx-agent-groups>
    <ngx-agent-provisioning [agent]="agent"></ngx-agent-provisioning>
    <ngx-agent-capabilities [agent]="agent"></ngx-agent-capabilities>
  </div>
</div>
