h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

nb-card {
  border: transparent;
  border-radius: 0.5rem;
  
  nb-card-header {
    background-color: #232940;
    color: #969fb9;
    padding: 0.5rem 1rem;
    border-bottom: transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  nb-card-body {
    label {
      color: #969fb9;
    }

    .active-dataset {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    pre {
      background: #1c2339;
      padding: 0.75rem;
      border-radius: 0.5rem;
      white-space: pre-line;

      button {
        background: transparent;
        border: 0 transparent;
        color: #969fb9;
        position: relative;
        top: -0.25rem;
        float: right;
        right: -0.5rem;
      }

      code {
        color: #ffffff;
      }
    }
  }
}

::ng-deep {
  header p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 20px;

    width: 250px;
    height: 20px;
    margin-left: 16px;
    margin-top: 24px;

    display: flex;
    align-items: center;
  }

  .orb-breadcrumb {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    ::ng-deep {
      .xng-breadcrumb-trail {
        color: #ffffff;
        margin-bottom: 0;
      }
      .xng-breadcrumb-link {
        text-decoration: none !important;
        color: #969fb9 !important;
      }
     .xng-breadcrumb-separator {
        text-decoration: none !important;
        color: #969fb9 !important;
      }
    }
  }
}
