<header data-orb-qa-id="agent#view">
  <div class="left-content">
    <xng-breadcrumb class="orb-breadcrumb" data-orb-qa-id="breadcrumb">
    </xng-breadcrumb>
    <div><h4>Agent View</h4></div>
  </div>
  <div class="right-content" style="margin-right: 10px;">
    <button nbButton ghost [className]="'refresh-button'" shape="round" (click)="refreshAgent()">
      <i class="fa fa-redo" [ngClass]="isLoading == true ? 'rotate' : 'paused'" style="color: #3089fc;"></i>
    </button>

    <span class="last-update" *ngIf="lastUpdate !== null">
      Last Update: {{ lastUpdate | date: 'HH:mm:ss a' }}
    </span>
  </div>
  <div *ngIf="!isLoading">
    <span class="right-content last-update">
      <span class="agent-{{ agent?.state }}">{{ agent?.state | ngxCapitalize }}. &nbsp;</span>
      <span *ngIf="agent?.state !== agentStates.new">
        Last activity
        <span *ngIf="isToday()">
          today, at {{ agent?.ts_last_hb | date: 'HH:mm z' }}
        </span>
        <span *ngIf="!isToday()">
          on {{ agent?.ts_last_hb | date: 'M/d/yy, HH:mm z' }}
        </span>
      </span>
      <span *ngIf="agent?.state === agentStates.new">
        This Agent has been provisioned but never connected.
      </span>
    </span>
  </div>
  
</header>

<div *ngIf="!isLoading" class="row">
  <div class="card-col col-5">
    <ngx-agent-information [agent]="agent"></ngx-agent-information>
    <ngx-agent-backends [agent]="agent"></ngx-agent-backends>
  </div>

  <div class="card-col col-7">
    <ngx-agent-policies-datasets
      [agent]="agent"
      [datasets]="datasets"
      (refreshAgent)="retrieveAgent()"
    >
    </ngx-agent-policies-datasets>
    <ngx-agent-groups [agent]="agent" [groups]="groups"></ngx-agent-groups>
    <ngx-agent-provisioning [agent]="agent"></ngx-agent-provisioning>
    <ngx-agent-capabilities [agent]="agent"></ngx-agent-capabilities>
  </div>
</div>
