@import '../../../@theme/styles/themes';

.login-layout {
  background: url('../../../../assets/images/login-background.png');
  transform: translateY(-2px);

  .orb-pane {
    background-blend-mode: normal;
    background-color: transparent;
    display: flex;
    margin: 0.2vh 350px 0.2vh 144px;
    padding: 0;

    div {
      max-width: 331px;

      img {
        height: 119px;
        margin-bottom: 47px;
        width: 313px;
      }

      p {
        color: #969fb9;
        font-family: 'Montserrat', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 200 !important;
        letter-spacing: 0;
        line-height: 32px;
        text-align: left;
      }

      strong {
        color: #fff;
        font-family: 'Montserrat', serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400 !important;
        letter-spacing: 0;
        line-height: 32px;
        text-align: left;
      }
    }
  }
}

.form-pane {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;

  a {
    color: #62d9ff;
    font-family: 'Montserrat', serif;
  }

  .label {
    color: #fff;
  }

  .big {
    font-size: 24px;
    line-height: 32px;
  }

  .bg {
    background: #fff;
    background-blend-mode: overlay;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    width: 100%;
  }

  .pane {
    height: 100%;
    padding: 0 6rem;
    position: relative;
    z-index: 3;

    span {
      font-family: 'Montserrat', serif;
    }

    p {
      font-family: 'Montserrat', serif;
      text-align: left;
    }

    strong {
      font-family: 'Montserrat', serif;
      text-align: left;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    .alert-error {
      background: linear-gradient(0deg, rgba(175, 80, 255, 0.25), rgba(175, 80, 255, 0.25)), #313e5d;
      border: 1px solid #af50ff;
      border-radius: 2px;
      box-sizing: border-box;
    }
  }

  .password-icon {
    color: nb-theme(color-basic-600);
    float: right;
    margin-right: 22px;
    margin-top: -40px;
    position: relative;
  }
}
