mat-chip nb-icon {
  font-size: 1rem;
}

::ng-deep mat-chip-list {
  display: flex !important;
  flex-wrap: wrap !important;
}

::ng-deep .mat-chip-list-wrapper {
  display: flex !important;
  flex-wrap: wrap !important;
}

.ns1red {
  color: #df316f;
}
.add-button {
  border: none !important;
  background: #1e2941 !important;
}
.add-button:disabled{
  background-color: transparent !important;
}
.two-dot {
  color: #df316f !important;
  font-size: 20px;
  font-weight: 600;
}
