<div>
  <div class="d-flex">
    <mat-chip-list data-orb-qa-id="orb_tagsList">
      <mat-chip
        *ngFor="let tag of selectedTags | keyvalue; index as i;"
        [attr.data-orb-qa-id]="'orb_tag_' + i"
        [style.background-color]="tag | tagcolor"
        class="orb-tag-chip ">
        {{tag | tagchip}}
        <nb-icon (click)="onRemoveTag(tag.key)"
                 class="ml-1"
                 icon="close-outline"
                 size="12"></nb-icon>
      </mat-chip>
      <mat-chip
        *ngIf="(selectedTags | json) === '{}'"
        [style.background-color]="'notag' | tagcolor"
        class="orb-tag-chip ">
        No tag added
      </mat-chip>
    </mat-chip-list>
  </div>
  <hr/>
  <nb-form-field>
    <div class="container d-flex row px-0 mx-0">
      <div class="d-flex flex-column col-5 px-0 mx-0">
        <div>
          <label class="font-weight-bold">{{strings.propNames.key}}</label>
        </div>
        <div>
          <input autofocus
                 data-orb-qa-id="input#orb_tag_key"
                 fieldSize="medium"
                 formControlName="key"
                 fullWidth="true"
                 nbInput/>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center col-1 mt-4 px-0 mx-0">
        <nb-icon icon="plus-outline" size="14" style="color: #df316f;"></nb-icon>
      </div>
      <div class="d-flex flex-column col-5 px-0 mx-0">
        <div>
          <label class="font-weight-bold">{{strings.propNames.value}}</label>
        </div>
        <div>
          <input autofocus
                 data-orb-qa-id="input#orb_tag_value"
                 fieldSize="medium"
                 formControlName="value"
                 fullWidth="true"
                 nbInput/>
        </div>
      </div>
      <div class="d-flex col-1 align-items-center justify-content-center mx-0 pl-4 px-0"
           style="transform: translateY(14px);">
        <button (click)="onAddTag()"
                [disabled]="(secondFormGroup.controls['key'].value === '' ||
                          secondFormGroup.controls['value'].value === '')"
                data-orb-qa-id="button#addTag"
                ghost
                nbButton>
          <nb-icon icon="plus-outline"
                   size="14"
                   status="primary"
                   style="color: #df316f;">
          </nb-icon>
        </button>
      </div>
    </div>
  </nb-form-field>
  <hr/>
</div>