nb-card {
  min-width: 55rem;
  border-radius: 15px;

  nb-card-header {
    background: #232940;
    color: #969fb9;
  }

  nb-card-body {
    padding: 0;
  }
}

// ORB
::ng-deep {
  .orb-close-dialog {
    background-color: #23294000;
    border-radius: 4px;
    display: contents;
    float: right;

    > span {
        float: right;
        font-size: 1.5rem;
        color: #3089fc;
        font-weight: 900;
    }
  }
}
.orb-service- {
  &new {
    color: #9b51e0;
  }
  &online {
    color: #6fcf97;
  }
  &stale {
    color: #f2994a;
  }
  &error {
    color: #df316f;
  }
  &offline {
    color: #969fb9;
  }
}

mat-chip-list {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap !important;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  ::ng-deep > .mat-chip-list-wrapper {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap !important;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }

  &:hover {
    animation-duration: 6s;
    animation-name: slidetween;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

::ng-deep .mat-chip-list {
  display: block;
}

@keyframes slidetween {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-70%);
  }
}

.agent-name {
  cursor: pointer;
}
