<div class="container">
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>All Agents</h4>
  </header>
  <div class="d-flex flex-column mt-4">
    <div class="d-flex justify-content-between align-items-end mb-2">
      <div class="d-flex">
        <p *ngIf=" paginationControls.data && paginationControls.data.length> 0"
           class="sink-info-regular mb-0">
          You have <a><strong>{{paginationControls.data.length}}</strong> agents and</a>
        </p>
        <p *ngIf=" paginationControls.data && paginationControls.data.length> 0"
           class="ns1red">
          &nbsp;<a><strong>{{paginationControls.data.length}}</strong> of them  have errors</a>.
        </p>
        <p *ngIf="paginationControls.data && paginationControls.data.length === 0"
           class="sink-info-accent mb-0">
          There are no agents yet.
        </p>
      </div>
      <div class="d-flex">
        <div class="mr-3">
          <nb-select
            *ngIf="tableFilters && tableFilters.length"
            [(selected)]="filterSelectedIndex"
            (selectedChange)="onFilterSelected($event)"
            appearance="filled"
            size="medium"
            class="d-flex justify-content-end"
            style="width: 160px; height: 100%"
            placeholder="Filter by">
            <nb-option *ngFor="let conf of tableFilters" [value]="conf.id">{{ conf.label }}</nb-option>
          </nb-select>
        </div>
        <nb-form-field *ngIf="filterSelectedIndex =='1'">
          <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
          <input nbInput
                 (keyup)="getAgents()"
                 [placeholder]="searchPlaceholder"
                 type="text"
                 fieldSize="medium"
                 [(ngModel)]="paginationControls.tags"/>
        </nb-form-field>
        <nb-form-field *ngIf="filterSelectedIndex =='0'">
          <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
          <input nbInput
                 (keyup)="getAgents()"
                 [placeholder]="searchPlaceholder"
                 type="text"
                 fieldSize="medium"
                 [(ngModel)]="paginationControls.name"/>
        </nb-form-field>
      </div>
    </div>
    <div class="add-agent-container">
      <button nbButton
              ghost="true"
              status="primary"
              (click)="onOpenAdd()">
        <i class="fa fa-plus">&nbsp;</i>{{strings.list.create}}</button>
    </div>
    <ngx-datatable
        class="orb w-100"
        style="height: calc(100vh - 300px)"
        [loadingIndicator]="loading"
        [externalPaging]="true"
        [count]="paginationControls.total"
        [offset]="paginationControls.offset"
        [rows]="paginationControls.data"
        [scrollbarV]="true"
        (page)='getAgents($event)'
        [columns]="columns"
        [columnMode]="columnMode.flex"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50">
    </ngx-datatable>
  </div>
</div>

<ng-template #agentStateTemplateCell let-row="row" let-value="value" let-i="index">
  <div>
    <div *ngIf="row.state === 'active'">
      <i class="fa fa-circle orb-service-active"
         aria-hidden="true"></i>
      {{ row.state | titlecase }}
    </div>
    <div *ngIf="row.state !== 'active'">
      <i class="fa fa-circle orb-service-inactive"
         aria-hidden="true"></i>
      {{ row.state | titlecase }}
    </div>
  </div>
</ng-template>

<ng-template #agentTagsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex">
    <mat-chip-list>
      <mat-chip
          class="orb-tag-sink "
          *ngFor="let tag of row.agent_tags | keyvalue | tagchip"
          [style.background-color]="tag | tagchipcolor">
        {{tag}}
      </mat-chip>
      <mat-chip
          class="orb-tag-sink"
          *ngFor="let tag of row.orb_tags | keyvalue | tagchip"
          [style.background-color]="tag | tagchipcolor">
        {{tag}}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>

<ng-template #actionsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex flex-row">
    <button nbButton
            ghost
            class="orb-action-hover detail-button"
            (click)="openDetailsModal(row)">
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover edit-button"
            (click)="onOpenEdit(row)">
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover del-button"
            (click)="openDeleteModal(row)">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </div>
</ng-template>
