<nb-card size="large" class="nb-card-medium">
  <nb-card-header>
    {{header}}
    <button nbButton
            ghost="true"
            size="small"
            class="orb-close-dialog"
            (click)="onClose()">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail">{{name}}<span class="ns1red">*</span></p>
        <p>{{ sink.name }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail">{{description}}</p>
        <p>{{ sink.description }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail">{{backend}}<span class="ns1red">*</span></p>
        <p>{{ sink.backend }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail">{{remote_host}}</p>
        <p>{{ sink.config.remote_host }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 align-items-start d-flex flex-column">
        <p class="detail">{{ts_created}}</p>
        <p>{{ sink.ts_created }}</p>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="primary" class="sink-edit-button" (click)="onOpenEdit(sink)">Edit</button>
  </nb-card-footer>
</nb-card>
