<nb-card>
  <nb-card-header class="table-header">
    {{header}}
    <button nbButton (click)="onClose()"></button>
  </nb-card-header>
  <nb-card-body>
    <div class="row form-row">
      <div class="col-6">
        <p class="form-key">{{name}}<span class="ns1red">*</span></p>
        <p>{{ sink.name }}</p>
      </div>
      <div class="col-6">
        <p class="col-3 form-key">{{description}}</p>
        <p class="col-6">{{ sink.description }}</p>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-6">
        <p class="col-3 form-key">{{backend}}<span class="ns1red">*</span></p>
        <p class="col-6">{{ sink.backend }}</p>
      </div>
      <div class="col-6">
        <p class="col-3 form-key">{{remote_host}}</p>
        <p class="col-6">{{ sink.config.remote_host }}</p>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-6">
        <p class="col-3 form-key">{{ts_created}}</p>
        <p class="col-6">{{ sink.ts_created }}</p>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="primary" class="sink-edit-button" (click)="onOpenEdit(sink)">Edit</button>
  </nb-card-footer>
</nb-card>
