nb-icon {
  vertical-align: middle;
}

nb-card {
  padding: 0 !important;
  width: 650px;
  height: fit-content;
  min-height: 400px;
  nb-card-header {
    background: #232940 !important;
    color: #969fb9 !important;
  }
  
  nb-card-body {
    overflow: hidden !important;
    margin: 2rem 3rem 0 3rem !important;
    padding: 0 !important;
  }
}
.orb-service- {
  &error {
    color: #df316f;
  }
  &warning {
    color: #f2c94c;
  }
}
.form-key {
  color: #969fb9;
}

.p {
  color: #ffffff;
  text-align: left;
}

.ns1red {
  color: #df316f;
}

nb-select {
  width: 100%;
}

button {
  float: right;
}

textarea {
  width: 100%;
  height: 100%;
}

nb-tabset {
  padding: 0;
  margin: 0;
}

// ORB
.dataset-save-button {
  background-color: blue;
}

.orb-close-dialog {
  background-color: #23294000;
  border-radius: 4px;
  display: contents;
  float: right;

  > span {
    float: right;
    padding-top: 0.3rem;
    font-size: 20px;
    color: #3089fc;
    font-weight: 900;
  }
}
.background {
  background-color: #232940;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 32px;
  margin-left: 6px;
  margin-top: 15px;
  margin-bottom: 15px;

  div > p {
    margin-top: 0;
    margin-bottom: 0.4rem;
  }
}

p {
  overflow-wrap: anywhere !important;
  white-space: normal !important;
}
.overflow-ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 250px !important;
}
.detail-title {
  color: #969fb9;
  font-weight: 500;
  font-size: 14px;
}
.sink-edit-button {
  padding: 8px 24px 8px 24px;
  border-radius: 16px;
  border: none;
  background-color: #3089fc;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat';
}
