<nb-card size="large" class="nb-card-large">
  <nb-card-header>
    {{strings.details.header}}
    <button nbButton
            ghost="true"
            size="small"
            class="orb-close-dialog"
            (click)="onClose()">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.name}}</p>
        <p>{{ sink.name }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start" *ngIf="!sink.description">
        <p class="detail-title">{{strings.propNames.description}}</p>
        <p>{{ sink.description }}</p>
        <p *ngIf="!sink.description">No Description Added</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.backend}}</p>
        <p>{{ sink.backend }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{ exporterField }}</p>
        <p *ngIf="sink.config.exporter.remote_host">{{ sink.config.exporter.remote_host }} </p>
        <p *ngIf="sink.config.exporter.endpoint">{{ sink.config.exporter.endpoint }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.config_username}}</p>
        <p>{{ sink.config.authentication.username }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.tags}}</p>
        <div>
          <mat-chip-list style="min-width: 0.2pc; min-height: 0.2pc;">
            <mat-chip
                class="orb-tag-chip "
                *ngFor="let tag of sink.tags | keyvalue"
                [style.background-color]="tag | tagcolor">
                {{tag | tagchip}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <p *ngIf="!sink.tags">No tags Added</p>
      </div>
    </div>
    <div class="row" *ngIf="sink?.state === _sinkStates.error">
      <div class="col-12 d-flex flex-column align-items-start">
        <p class="ns1red">Error</p>
        <p>{{sink.error}}</p>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="primary" class="sink-edit-button" (click)="onOpenView(sink)">View Sink</button>
  </nb-card-footer>
</nb-card>
