<nb-card size="large" class="nb-card-medium">
  <nb-card-header class="table-header">
    {{header}}
    <button nbButton (click)="onClose()"></button>
  </nb-card-header>
  <nb-card-body>
    <div class="row form-row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="form-key">{{name}}<span class="ns1red">*</span></p>
        <p>{{ sink.name }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="form-key">{{description}}</p>
        <p>{{ sink.description }}</p>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="form-key">{{backend}}<span class="ns1red">*</span></p>
        <p>{{ sink.backend }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="form-key">{{remote_host}}</p>
        <p>{{ sink.config.remote_host }}</p>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-6 align-items-start d-flex flex-column">
        <p class="form-key">{{ts_created}}</p>
        <p>{{ sink.ts_created }}</p>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="primary" class="sink-edit-button" (click)="onOpenEdit(sink)">Edit</button>
  </nb-card-footer>
</nb-card>
