<nb-card>
  <nb-card-header>
    {{strings.details.header}}
    <button nbButton
            ghost="true"
            size="small"
            class="orb-close-dialog"
            (click)="onClose()">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.name}}</p>
        <p class="overflow-ellipsis" nbTooltip="{{sink.name}}">{{ sink.name }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start" *ngIf="!sink.description">
        <p class="detail-title">{{strings.propNames.description}}</p>
        <p *ngIf="sink.description">{{ sink.description }}</p>
        <p *ngIf="!sink.description" style="font-style: italic; font-size: 14px;">No description Provided</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.backend}}</p>
        <p>{{ sink.backend }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.config_username}}</p>
        <p>{{ sink.config.authentication.username }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-start">
        <p class="detail-title">{{ exporterField }}</p>
        <p *ngIf="sink.config.exporter.remote_host">{{ sink.config.exporter.remote_host }} </p>
        <p *ngIf="sink.config.exporter.endpoint">{{ sink.config.exporter.endpoint }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.tags}}</p>
        <div class="background">
          <mat-chip-list>
            <mat-chip
              *ngFor="let tag of sink.tags | keyvalue"
              style="background-color: #2B3148;"
              class="orb-tag-chip"
            >
              <span [style.color]="tag.key | tagcolor">{{ tag.key }}</span><span style="color: #969FB9;">:</span>&nbsp;
              <span [style.color]="tag.value | tagcolor">{{ tag.value }}</span>
            </mat-chip>
            <mat-chip
              *ngIf="!sink.tags"
              style="background-color: #2B3148;"
              class="orb-tag-chip"
            >
              <span style="color: #df316f;">No tag were added</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="sink?.state === _sinkStates.error || sink?.state === _sinkStates.warning">
      <div class="col-12 d-flex flex-column align-items-start">
        <p class="orb-service-{{sink.state}}"> {{sink?.error | titlecase}}</p>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button status="primary" class="sink-edit-button" (click)="onOpenView(sink)">Edit</button>
  </nb-card-footer>
</nb-card>
