<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="card-header">
        Channel Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-2 form-key"> Name: </div><div class="col-md-10"> {{ channel.name }} </div>
          <div class="col-md-2 form-key"> ID: </div><div class="col-md-10"> {{ channel.id }} </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header class="card-header">
        Metadata
        <button nbButton size="tiny" class="button-green"
                (click)="onEdit()">
          Edit
        </button>
      </nb-card-header>
      <nb-card-body style="padding: 0px;">
        <textarea class="form-control"
                  [ngModel]="channel.metadata | json"
                  (ngModelChange)="editorMetadata=$event">
        </textarea>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-body style="padding:0; margin:0;">
        <nb-tabset>
          <nb-tab tabTitle="Connect">
            <nb-card size="medium"  style="padding:0; margin:0;">
              <nb-card-body>
                <ngx-table-component [config]="tableConfig"
                                     [page]="disconnThingsPage"
                                     (checkEvent)=onCheckboxConns($event)>
                </ngx-table-component>
              </nb-card-body>
              <nb-card-footer>
                <ngx-pagination-component [page]="disconnThingsPage"
                                          (changeLimitEvent)=onChangeLimitDisconn($event)
                                          (changePageEvent)=onChangePageDisconn($event)>
                </ngx-pagination-component>
                <button nbButton size="tiny" class="button-green"
                        (click)="onConnect()">
                  Connect
                </button>
              </nb-card-footer>
            </nb-card>
          </nb-tab>
          <nb-tab tabTitle="Disconnect">
            <nb-card size="medium"  style="padding:0; margin:0;">
              <nb-card-body>
                <ngx-table-component [config]="tableConfig"
                                     [page]="connThingsPage"
                                     (checkEvent)=onCheckboxDisconns($event)>
                </ngx-table-component>
              </nb-card-body>
              <nb-card-footer>
                <ngx-pagination-component [page]="connThingsPage"
                                          (changeLimitEvent)=onChangeLimit($event)
                                          (changePageEvent)=onChangePage($event)>
                </ngx-pagination-component>
                <button nbButton size="tiny" class="button-red"
                        (click)="onDisconnect()">
                  Disconnect
                </button>
              </nb-card-footer>
            </nb-card>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Message Reader Monitor -->
<ngx-message-monitor [channels]="[channel]"
                     [thingKey]="thingKey">
</ngx-message-monitor>
