button {
  margin: 0 3px;

  &.policy-duplicate {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: none !important;

    &.btn-disabled {
      background: #2b3148;
    }

    &:not(.btn-disabled) {
      background-color: #3089fc !important;
    }
  }

  &.policy-save {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: none !important;

    &.btn-disabled {
      background: #2b3148;
    }

    &:not(.btn-disabled) {
      background-color: #3089fc !important;
    }
  }

  &.policy-discard {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: none !important;

    &.btn-disabled {
      background: #2b3148;
    }

    &:not(.btn-disabled) {
      background-color: #df316f !important;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  flex: 1;
}

.right-content {
  display: flex;
  align-items: center;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
::ng-deep {
  .orb-breadcrumb {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;

    ::ng-deep {
      .xng-breadcrumb-trail {
        color: #fff !important;
        margin-bottom: 0 !important;
      }

      .xng-breadcrumb-link {
        color: #969fb9 !important;
        text-decoration: none !important;
      }

      .xng-breadcrumb-separator {
        color: #969fb9 !important;
        text-decoration: none !important;
      }
    }
  }
}
.state-circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.state {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Montserrat';
}
.orb-service- {
  &active {
    color: #6fcf97;
  }
  &unknown {
    color: #9b51e0;
  }
  &error {
    color: #df316f;
  }
  &idle {
    color: #f2994a;
  }
  &provisioning {
    color: #3089fc;
  }
  &provioning_error {
    color: #df316f;
  }
  &warning {
    color: #f2c94c;
  }
}

.last-update {
  color: #969fb9;
  font-size: 14px;
}
.state-div {
  margin-bottom: 23px;
}
.date {
  font-size: 14px;
  font-weight: 400;
  margin-top: 23px;
  line-height: 1.25rem;
} 

