<header data-orb-qa-id="sink#view" class="row">
  <div class="col-4">
    <xng-breadcrumb class="orb-breadcrumb" data-orb-qa-id="breadcrumb">
      <ng-container
        *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first"
      >
        <ng-container [ngClass]="{ my_class: first === '' }">{{
          breadcrumb
        }}</ng-container>
      </ng-container>
    </xng-breadcrumb>
    <h4>{{ strings.sink.view.header }}</h4>
  </div>
  <div class="col-7" *ngIf="!isLoading">
    <div style="margin-top: 20px; float: right;">
      <button 
      (click)="openDeleteModal()" 
      class="card-button  delete-button" 
      nbButton shape="round" 
      *ngIf="!isEditMode()"
      style="color: #df316f !important;">
        <nb-icon icon="trash-2-outline"></nb-icon>
        Delete Sink
      </button>
      <button
      (click)="save()"
      [disabled]="!canSave()"
      class="policy-save"
      nbButton
      *ngIf="isEditMode()"
      shape="round"
      >
      <nb-icon icon="save-outline"></nb-icon>
      Save
      </button>
      <button
        (click)="discard()"
        class="policy-discard"
        nbButton
        shape="round"
        *ngIf="isEditMode()"
      >
        Discard
      </button>
    </div>

  </div>
</header>

<div *ngIf="!isLoading" class="row" #content>
  <div class="card-col col-4">
    <ngx-sink-details [(editMode)]="editMode.details" [sink]="sink">
    </ngx-sink-details>
  </div>
  <div class="card-col col-7">
    <ngx-sink-config [(editMode)]="editMode.config" [sink]="sink">
    </ngx-sink-config>
  </div>
</div>
