<header data-orb-qa-id="sink#view" class="row">
  <div class="col-7">
    <xng-breadcrumb class="orb-breadcrumb" data-orb-qa-id="breadcrumb">
      <ng-container
        *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first"
      >
        <ng-container [ngClass]="{ my_class: first === '' }">{{
          breadcrumb
        }}</ng-container>
      </ng-container>
    </xng-breadcrumb>
    <h4>{{ strings.sink.view.header }}</h4>
  </div>
  <div class="col-5">
    <button
      (click)="save()"
      [disabled]="!canSave()"
      class="policy-save"
      nbButton
      *ngIf="isEditMode()"
      shape="round"
    >
      Save
    </button>
    <button
      (click)="discard()"
      class="policy-discard"
      nbButton
      shape="round"
      *ngIf="isEditMode()"
    >
      Discard
    </button>
  </div>
</header>

<div *ngIf="!isLoading" class="row">
  <ngx-sink-details class="col-5" [(editMode)]="editMode.details" [sink]="sink">
  </ngx-sink-details>
  <ngx-sink-config
    class="col-5"
    [(editMode)]="editMode.config"
    [sink]="sink"
  >
  </ngx-sink-config>
</div>
