<div class="row">
  <div class="col-md-6">
    <ngx-gateways-info [gateway]=gateway></ngx-gateways-info>
  </div>
  <div class="col-md-6">
    <ngx-gateways-config [gateway]=gateway></ngx-gateways-config>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ngx-gateways-xterm [gateway]=gateway></ngx-gateways-xterm>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="map-wrapper">
          <ngx-map-leaflet [gateways]=[gateway]>
          </ngx-map-leaflet>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
