.button-green {
  background-color: #a5bb6b !important;
  border-color: #a5bb6b !important;
  color: white !important;
}

.button-blue {
  background-color: #5f8ecf !important;
  border-color: #5f8ecf !important;
  color: white !important;
}

.button-red {
  background-color: #e14a25 !important;
  border-color: #e14a25 !important;
  color: white !important;
}

.table-header {
  background-color: #d3d4de !important;
  color: black !important;
  text-align: center !important;
}

.card-header {
  background-color: #1d375b !important;
  color: white !important;
}

.form-key {
  font-weight: bold;
  padding: 0;
  text-align: right;
}

.form-row {
  margin-bottom: 15px;
}

.button-add {
  background-color: #2a64f6 !important;
  //position: ;
  color: white !important;
  margin-bottom: 10px;
}


// NGX-ADMIN Style Patch
// Background
.nb-theme-default nb-layout .layout {
  background-color: #f2f2f2;
}

.header-version {
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 10 !important;
}

.nb-theme-default nb-user .user-name {
  color: white;
}

// Menu
nb-sidebar {
  background-color: #171c30 !important;
}

.nb-theme-default nb-menu .menu-item {
  background-color: #272739 !important;
  border-bottom: 1px solid #151a30;
}

// Menu items
.nb-theme-default nb-menu .menu-item a,
.nb-theme-default nb-menu .menu-item a .menu-icon {
  margin-right: 17px;
  width: 22px;
  height: 22px;
  color: #df316f !important;
}

.nb-theme-default nb-menu .menu-item a:hover {
  background-color: #c9225e !important;
}

.nb-theme-default nb-menu .menu-item a.active {
  background-color: white !important;
  color: #df316f !important;
}

.nb-theme-default nb-menu .menu-item a.active .menu-icon {
  color: #df316f !important;
}

// First sub menu child
.nb-theme-default nb-menu .menu-item {
  border: 0 !important;
}

.nb-theme-default nb-menu .menu-item:first-child a.active {
  border-top: 0 !important;
  color: #df316f !important;
}

// Pages padding
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 1.25rem 2.25rem 0.75rem;
}
