<button (click)="openAddModal()" class="button-add" nbButton
        shape="semi-round"
        size="medium">
    Create User Group
</button>

<nb-card>
    <nb-card-header class="table-header">
        <div class="row">
            <div class="col-md-4">
                {{ page.total }} &nbsp; User Groups
            </div>
            <div class="col-md-4">
                <input (input)="searcUserGroupsbyName($event.target.value)" fieldSize="small" fullWidth nbInput
                       placeholder="Search...">
            </div>
            <div class="col-md-2">
                <button (click)="onClickSave()" class="button-blue button-header" nbButton
                        size="small">
                    <nb-icon icon="save-outline"></nb-icon>
                    Save
                </button>
            </div>
            <div class="col-md-2">
                <button (click)="fileInput.click()" class="button-green button-header" nbButton
                        size="small">
                    <nb-icon icon="file-add-outline"></nb-icon>
                    Upload
                    <input #fileInput (change)="onFileSelected($event.target.files)" hidden type="file">
                </button>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-table-component (delEvent)="openDeleteModal($event)"
                             (detailsEvent)=onOpenDetails($event)
                             (editEvent)=openEditModal($event)
                             [config]="tableConfig"
                             [page]="page">
        </ngx-table-component>
    </nb-card-body>

    <nb-card-footer>
        <ngx-pagination-component (changeLimitEvent)=onChangeLimit($event)
                                  (changePageEvent)=onChangePage($event)
                                  [page]="page">
        </ngx-pagination-component>
    </nb-card-footer>
</nb-card>
