<div class="container">
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>{{strings.list.header}}</h4>
  </header>
  <div class="d-flex flex-column mt-4">
    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex">
        <p *ngIf=" paginationControls.data && paginationControls.data.length> 0"
           class="sink-info-regular">
          You have <strong>{{paginationControls.data.filter(filterByActive).length}} groups active</strong>.
        </p>
        <p *ngIf="paginationControls.data && paginationControls.data.length === 0"
           class="sink-info-accent">
          There are no agents yet.
        </p>
      </div>
      <div class="d-flex">
        <div class="mr-3">
          <nb-select
            *ngIf="tableFilters && tableFilters.length"
            [(selected)]="filterSelectedIndex"
            (selectedChange)="onFilterSelected($event)"
            appearance="filled"
            size="medium"
            class="d-flex justify-content-end"
            style="width: 160px; height: 100%"
            placeholder="Filter by">
            <nb-option *ngFor="let conf of tableFilters" [value]="conf.id">{{ conf.label }}</nb-option>
          </nb-select>
        </div>
        <nb-form-field *ngIf="filterSelectedIndex =='1'">
          <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
          <input nbInput
                 (keyup)="getAgentGroups()"
                 [placeholder]="searchPlaceholder"
                 type="text"
                 fieldSize="medium"
                 [(ngModel)]="paginationControls.tags"/>
        </nb-form-field>
        <nb-form-field *ngIf="filterSelectedIndex =='0'">
          <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
          <input nbInput
                 (keyup)="getAgentGroups()"
                 [placeholder]="searchPlaceholder"
                 type="text"
                 fieldSize="medium"
                 [(ngModel)]="paginationControls.name"/>
        </nb-form-field>
      </div>
    </div>
    <div class="d-flex add-agent-container">
      <button nbButton
              ghost="true"
              status="primary"
              (click)="onOpenAdd()">
        <i class="fa fa-plus">&nbsp;</i>{{strings.list.create}}</button>
    </div>
    <ngx-datatable
        class="orb w-100"
        style="height: calc(100vh - 300px)"
        [loadingIndicator]="loading"
        [externalPaging]="true"
        [count]="paginationControls.total"
        [offset]="paginationControls.offset"
        [rows]="paginationControls.data"
        [scrollbarV]="true"
        (page)='getAgentGroups($event)'
        [columns]="columns"
        [columnMode]="columnMode.flex"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50">
    </ngx-datatable>
  </div>
</div>

<ng-template #agentsTemplateCell let-row="row" let-value="value" let-i="index">
  <strong> {{ value.length }} </strong>
</ng-template>

<ng-template #agentTagsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex">
    <mat-chip-list>
      <mat-chip
        class="orb-tag-sink "
        *ngFor="let tag of value | keyvalue">
        {{tag.key}}, {{tag.value}}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>

<ng-template #actionsTemplateCell let-row="row" let-value="value" let-i="index">

  <div class="d-flex flex-row">
    <button nbButton
            ghost
            class="orb-action-hover detail-button"
            (click)="openDetailsModal(row)">
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover edit-button"
            (click)="onOpenEdit(row)">
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover del-button"
            (click)="openDeleteModal(row)">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </div>
</ng-template>

<ng-template #agentTagsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex">
    <mat-chip-list>
      <mat-chip
        class="orb-tag-sink "
        *ngFor="let tag of value | keyvalue">
        {{tag.key}}, {{tag.value}}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>

<ng-template #actionsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex flex-row">
    <button nbButton
            ghost
            class="orb-action-hover detail-button"
            (click)="openDetailsModal(value)">
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover edit-button"
            (click)="onOpenEdit(value)">
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover del-button"
            (click)="openDeleteModal(value)">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </div>
</ng-template>
