<div class="container">
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>{{strings.list.header}}</h4>
    <div class="filter-dropdown">
      <nb-select
        [(selected)]="pageFilters"
        appearance="outline"
        class="d-flex justify-content-end"
        style="width: 140px;"
        placeholder="Filter">
        <nb-option *ngFor="let conf of tableFilters">{{ conf.name }}</nb-option>
      </nb-select>
    </div>
  </header>
  <div class="d-flex flex-column mt-4">
    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex">
        <p *ngIf=" page.rows && page.rows.length> 0"
           class="sink-info-regular">
          You have <strong>{{page.rows.filter(filterByActive).length}} groups active</strong>.
        </p>
        <p *ngIf="page.rows && page.rows.length === 0"
           class="sink-info-accent">
          There are no agents yet.
        </p>
      </div>
      <div class="d-flex">
        <nb-form-field>
          <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
          <input nbInput
                 debounce
                 [delay]="700"
                 (func)="searchAgentByName($event)"
                 placeholder="Search by name"
                 type="text"
                 fieldSize="medium"
                 [(ngModel)]="pageFilters.name"/>
        </nb-form-field>
      </div>
    </div>
    <div class="d-flex add-agent-container">
      <button nbButton
              ghost="true"
              status="primary"
              (click)="onOpenAdd()">
        <i class="fa fa-plus">&nbsp;</i>{{strings.list.create}}</button>
    </div>
    <ngx-datatable
      class="orb w-100"
      style="height: calc(100vh - 300px)"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [rows]="page.rows"
      [limit]="page.limit"
      [columns]="columns"
      [columnMode]="columnMode.standard"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50">
    </ngx-datatable>
  </div>
</div>

<ng-template #agentsTemplateCell let-row="row" let-value="value" let-i="index">
  <strong> {{ value.length }} </strong>
</ng-template>

<ng-template #agentTagsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex">
    <mat-chip-list>
      <mat-chip
        class="orb-tag-sink "
        *ngFor="let tag of value | keyvalue">
        {{tag.key}}, {{tag.value}}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>

<ng-template #actionsTemplateCell let-row="row" let-value="value" let-i="index">

  <div class="d-flex flex-row">
    <button nbButton
            ghost
            class="orb-action-hover detail-button"
            (click)="openDetailsModal(value)">
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover edit-button"
            (click)="onOpenEdit(value)">
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover del-button"
            (click)="openDeleteModal(value)">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </div>
</ng-template>

<ng-template #agentTagsTemplateCell let-row="row" let-value="value" let-i="index">
  <div class="d-flex">
    <mat-chip-list>
      <mat-chip
        class="orb-tag-sink "
        *ngFor="let tag of value | keyvalue">
        {{tag.key}}, {{tag.value}}
      </mat-chip>
    </mat-chip-list>
  </div>
</ng-template>

<ng-template #actionsTemplateCell let-row="row" let-value="value" let-i="index">

  <div class="d-flex flex-row">
    <button nbButton
            ghost
            class="orb-action-hover detail-button"
            (click)="openDetailsModal(value)">
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover edit-button"
            (click)="onOpenEdit(value)">
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton
            ghost
            class="orb-action-hover del-button"
            (click)="openDeleteModal(value)">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </div>
</ng-template>
