<nb-card>
    <nb-card-header class="summary-accent flex">Sink Backend Configuration
      <div class="align-itens">
        <button
        (click)="toggleEdit(true)"
        *ngIf="!editMode && !createMode"
        class="card-button"
        nbButton
        status="primary">
        <nb-icon icon="edit-outline"></nb-icon>
        Edit
        </button>
        <button
          (click)="toggleEdit(false)"
          *ngIf="editMode && !createMode"
          class="card-button"
          nbButton
          style="color: #df316f !important;">
          Discard
        </button>
        <!-- <button 
          (click)="toggleLanguage()"
          class="switch-button"
          *ngIf="editMode || createMode">
          Switch to {{isJson(this.code) ? "YAML" : "JSON"}}
        </button> -->
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--    <div *ngIf="editMode; then updateView else readView"></div>-->
      <div class="code-editor-wrapper">
        <!-- <ngx-monaco-editor
            #editorComponent
            [(ngModel)]="code"
            [options]="editorOptions"
            class="code-editor"
            ngDefaultControl
            *ngIf="!isYaml">
        </ngx-monaco-editor> -->
        <ngx-monaco-editor
          [(ngModel)]="code"
          [options]="editorOptionsYaml"
          class="code-editor"
          ngDefaultControl>
        </ngx-monaco-editor>
      </div>
    </nb-card-body>
  </nb-card>
  
  <ng-template #readView>
    <div class="d-flex flex-column">
        <pre
          innerHtml="{{ (sink?.config | prettyJson: [false, 2]) }}"></pre>
    </div>
  </ng-template>
  
  <ng-template #updateView>
          <pre
            innerHtml="{{ (sink?.config | prettyJson: [false, 2]) }}"></pre>
  </ng-template>
  