<nb-card>
  <nb-card-header class="summary-accent">Agent Policy Configuration
    <button *ngIf="!editMode"
            (click)="toggleEdit(true)"
            ghost="true"
            class="add-dataset-button"
            nbButton
            status="primary">
      Edit
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="col-12">
      <pre
        innerHtml="{{ (policy?.policy_data | prettyYaml:[false, 2]) || (policy?.policy | prettyJson: [false, 2]) }}"></pre>
    </div>
  </nb-card-body>
</nb-card>