nb-card {
  border: transparent;
  border-radius: 0.5rem;
  padding: 0 !important;
  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
  }

  nb-card-body {
    padding: 0.25rem !important;
    margin: 0 !important;

    label {
      color: #969fb9;
    }

    span {
      text-align: end;
    }

    div .row {
      display: block;
    }

    pre {
      background: #1c2339;
      border-radius: 0.5rem;
      color: #fff;
      font-weight: 400;
      padding: 0.75rem;

      white-space: pre-line;

      button {
        background: transparent;
        border: 0 transparent;
        color: #969fb9;
        float: right;
        position: relative;
        right: -0.5rem;
        top: -0.25rem;
      }

      code {
        color: #ffffff;
        line-height: 2.5 !important;
      }
    }
  }
}

.summary-accent {
  color: #969fb9 !important;
}

.required {
  color: #df316f;
  padding-left: 2px;
}

.code-editor {
  width: calc(100%);
  padding: calc(1rem);
  min-height: 367px;
  max-height: 55vh;
}
.upload-button {
  color: #3089fc;
  background-color: transparent;
  border: none;
  font-weight: 600;
  outline: none;
  float: right;
  border-radius: 15px;
  padding: 6px 12px;
  margin-right: 5px;
  font-size: 0.875rem;
  font-family: 'Montserrat';
  transition: background-color 0.3s ease;
}
.upload-button:hover {
  background-color: #171c30 !important;
}

.errorMessage {
  position: absolute;
  color: #df316f;
  font-weight: 600;
  font-size: 13px;
  left: 20px;
  bottom: 3px;
}
