<nb-card>
  <nb-card-header class="summary-accent">Interface</nb-card-header>
  <nb-card-body>
    <div class="col-12">
      <div class="row">
        <label class="summary-accent">Taps<span class="required">*</span></label>
        <p>default_pcap | input type: pcap</p>
      </div>
      <div class="row">
        <p>No filter expression.</p>
      </div>
      <div class="row">
        <label class="summary-accent">Handlers</label>
        <p>DNS | 1.0</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>