nb-card {
  border: transparent;
  border-radius: 0.5rem;

  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
  }

  nb-card-body {
    padding: 0.25rem !important;

    label {
      color: #969fb9;
    }

    span {
      text-align: end;
    }

    div .row {
      display: block;
    }

    pre {
      background: #1c2339;
      border-radius: 0.5rem;
      color: #fff;
      font-weight: 400;
      padding: 0.75rem;

      white-space: pre-line;

      button {
        background: transparent;
        border: 0 transparent;
        color: #969fb9;
        float: right;
        position: relative;
        right: -0.5rem;
        top: -0.25rem;
      }

      code {
        color: #ffffff;
        line-height: 2.5 !important;
      }
    }
  }
}

.summary-accent {
  color: #969fb9 !important;
}

.required {
  color: #df316f;
  padding-left: 2px;
}

.code-editor {
  height: calc(100%);
  width: calc(100%);
  padding: calc(1rem);
}

.code-editor-wrapper {
  min-height: 350px;
  min-width: 200px;
  height: calc(58vh);
  width: calc(100%);
  display: block;
}
