<nb-card size="small">
  <nb-card-header class="card-header">
    Gateway properties
    <button class="float-right" nbButton shape="semi-round" size="tiny"
            [routerLink]="['/pages/gateways']">
      <nb-icon icon="undo-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-3 form-key"> Name: </div><div class="col-md-9"> {{ gateway.name }} </div>
      <div class="col-md-3 form-key"> ID: </div><div class="col-md-9"> {{ gateway.id }} </div>
      <div class="col-md-3 form-key"> Key: </div><div class="col-md-9"> {{ gateway.key }} </div>
      <div class="col-md-3 form-key"> External ID: </div><div class="col-md-9"> {{ gateway.metadata.external_id }} </div>
      <div class="col-md-3 form-key"> External key: </div><div class="col-md-9"> {{ gateway.metadata.external_key }} </div>
      <div class="col-md-3 form-key"> Ctrl Chan ID: </div><div class="col-md-9"> {{ gateway.metadata.ctrl_channel_id }} </div>
      <div class="col-md-3 form-key"> Data Chan ID: </div><div class="col-md-9"> {{ gateway.metadata.data_channel_id }} </div>
      <div class="col-md-3 form-key"> BS Config ID: </div><div class="col-md-9"> {{ gateway.metadata.cfg_id }} </div>
    </div>
  </nb-card-body>
</nb-card>
