.nb-card-large {
  width: 633px;
}

.nb-card-medium {
  width: 497px;
}

.nb-card-small {
  width: 280px;
}

nb-icon {
  vertical-align: middle;
}

.form-key {
  color: #969fb9;
}

.p {
  color: #ffffff;
  text-align: left;
}

.ns1red {
  color: #df316f;
}

nb-select {
  width: 100%;
}

button {
  float: right;
}

textarea {
  width: 100%;
  height: 100%;
}

nb-tabset {
  padding: 0;
  margin: 0;
}

.dataset-save-button {
  margin-top: 6px;
  background-color: blue;
}

.dataset-delete-button {
  color: #df316f !important;
  float: left;
}

.orb-close-dialog {
  background-color: #23294000;
  border-radius: 4px;
  display: contents;
  float: right;

  > span {
    float: right;
    padding-top: 0.3rem;
    font-size: large;
    color: #3089fc;
    font-weight: 900;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 32px;
  margin-left: 6px;
  margin-top: 15px;
  margin-bottom: 15px;

  div > p {
    margin-top: 0;
    margin-bottom: 0.4rem;
  }
}

.detail-title {
  color: #969fb9;
}

nb-accordion {
  padding: 0;
  text-subtitle-line-height: 1rem;
  display: grid;

  nb-accordion-item {
    padding: 0;
    //background: rgb(23, 28, 48);

    nb-accordion-item-header {
      padding: 10px 0;
      //background: rgb(23, 28, 48);
    }

    nb-accordion-item-body {
      padding: 0;
      //background: rgb(23, 28, 48);
      display: grid;
    }
  }
}

::ng-deep {
  .header {
    align-items: flex-end !important;
    margin-right: 10px !important;
    height: calc(100vh - 337px) !important;
  }

  .label-index {
    background-color: #969fb9;
    transition: box-shadow 0.3s 0s ease-in-out;
    color: #969fb9;
    border: none !important;
    //box-shadow: 0 0 8px -2px #ffffff;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjUgMy45OTY1MUw0LjE4NjgyIDcuNjgzMzNMMTAuODIzMSAxLjA0NzA2TDkuNzgzNDEgMEw0LjE4NjgyIDUuNTk2NTlMMS41Mzk2OCAyLjk1NjgzTDAuNSAzLjk5NjUxWiIgZmlsbD0iIzE1MWEzMCIvPgo8L3N2Zz4K');
    background-size: 20px 14px;
    background-repeat: no-repeat;
    background-position: center;
    //background-blend-mode: exclusion;
    z-index: 3;

    :first-child {
      visibility: hidden;
    }
  }

  .step {
    flex-direction: row-reverse !important;
    align-items: start !important;
  }

  .step.selected {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
    -webkit-text-stroke-width: 1px;
    text-shadow: 0 0 20px #ffffff8f;

    & > .label-index {
      box-shadow: 0 0 12px 1px #df316f;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjUgMy45OTY1MUw0LjE4NjgyIDcuNjgzMzNMMTAuODIzMSAxLjA0NzA2TDkuNzgzNDEgMEw0LjE4NjgyIDUuNTk2NTlMMS41Mzk2OCAyLjk1NjgzTDAuNSAzLjk5NjUxWiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K');
      background-color: #df316f;
    }
  }

  .step-content {
    width: 500px !important;
  }

  .connector {
    width: 1px !important;
    transform: translateX(1px);

    &::after {
      content: '';
      height: 40px;
      transform: translateY(-40px);
      width: 1px;
      border-left: solid 1px #969fb9b3;
      position: absolute;
      z-index: 1;
    }
  }

  .connector.connector-past {
    transition: background 0.5s 0s ease-in-out;

    &::after {
      transition: border 0.5s 0s ease-in-out;
      border-left: solid 1px #df316f;
    }
  }
}

.required {
  color: #df316f;
  padding-left: 2px;
}

.step-label {
  width: 214px;
  text-align: end;
}

::ng-deep .orb-breadcrumb {
  align-items: center;

  display: flex;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  ::ng-deep .xng-breadcrumb-trail {
    color: #fff !important;

    &::before {
      color: #969fb9 !important;
    }
  }
}

.sink-dropdown-selector {
  width: 85%;
}

.orb-selected-sink {
  border-style: solid;
  border-width: thin;
}

::ng-deep .cdk-global-scrollblock {
  position: static !important;
  overflow-y: inherit !important;
}
