<div class="row">
  <div class="col-xl-12">
    <nb-card class="dash-top" size="tiny">
      <nb-card-header>
        <h5 class="dash-top-text">inputs</h5>
      </nb-card-header>
      <nb-card-body>
        <div class="container fluid"></div>
        <div class="row">
          <div class="col-12 flex-column">
            <label>Input Rectangle</label>
            <div>
              <input nbInput status="basic" shape="rectangle" fieldSize="small" value="Small basic"/>
              <input nbInput status="primary" shape="rectangle" fieldSize="small" value="medium primary"/>
              <input nbInput status="info" shape="rectangle" fieldSize="medium" value="medium info"/>
              <input nbInput status="success" shape="rectangle" fieldSize="medium" value="medium success"/>
              <input nbInput status="warning" shape="rectangle" fieldSize="medium" value="large success"/>
              <input nbInput status="danger" shape="rectangle" fieldSize="large" value="large danger"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 flex-column">
            <label>Input Round</label>
            <div>
              <input nbInput status="basic" shape="round" size="small" value="Small basic"/>
              <input nbInput status="primary" shape="round" size="small" value="medium primary"/>
              <input nbInput status="info" shape="round" size="medium" value="medium info"/>
              <input nbInput status="success" shape="round" size="medium" value="medium success"/>
              <input nbInput status="warning" shape="round" size="medium" value="large success"/>
              <input nbInput status="danger" shape="round" size="large" value="large danger"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 flex-column">
            <label>Input Semi Round</label>
            <div>
              <input nbInput status="basic" shape="semi-round" size="small" value="Small basic"/>
              <input nbInput status="primary" shape="semi-round" size="small" value="medium primary"/>
              <input nbInput status="info" shape="semi-round" size="medium" value="medium info"/>
              <input nbInput status="success" shape="semi-round" size="medium" value="medium success"/>
              <input nbInput status="warning" shape="semi-round" size="medium" value="large success"/>
              <input nbInput status="danger" shape="semi-round" size="large" value="large danger"/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    Hello World!42141241
  </div>
</div>
