<div>
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>{{title}}</h4>
  </header>
  <h6>{{ message }}</h6>
  <div class="dashboard-container">
    <nb-card class="col-md-4 col-lg-3 col-sm-6 col-xl-3">
      <nb-card-body>
        <p [innerHtml]="agent"></p>
      </nb-card-body>
    </nb-card>
    <nb-card class="col-md-4 col-lg-3 col-sm-6 col-xl-3">
      <nb-card-body>
        <p [innerHtml]="agent_groups"></p>
      </nb-card-body>
    </nb-card>
    <nb-card class="col-md-4 col-lg-3 col-sm-6 col-xl-3">
      <nb-card-body>
        <p [innerHtml]="sink"></p>
      </nb-card-body>
    </nb-card>
    <nb-card class="col-md-4 col-lg-3 col-sm-6 col-xl-3">
      <nb-card-body>
        <p [innerHtml]="policy"></p>
      </nb-card-body>
    </nb-card>
    <nb-card class="col-md-4 col-lg-3 col-sm-6 col-xl-3">
      <nb-card-body>
        <p [innerHtml]="dataset"></p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
