nb-card {
  border: transparent;
  border-radius: 0.5rem;

  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
  }

  nb-card-body {
    label {
      color: #969fb9;
    }

    span {
      text-align: end;
    }

    div .row {
      display: block;
    }
  }
}

.summary-accent {
  color: #969fb9 !important;
}

.required {
  color: #df316f;
  padding-left: 2px;
}

.add-dataset-container {
  height: 0;
  position: relative;

  button {
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
    z-index: 2;
  }
}
