nb-card {
  border: transparent;
  border-radius: 0.5rem;

  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
  }

  nb-card-body {
    padding: 0 0.25rem 1rem !important;

    label {
      color: #969fb9;
    }

    span {
      text-align: end;
    }

    div .row {
      display: block;
    }
  }
}

.summary-accent {
  color: #969fb9 !important;
}

.required {
  color: #df316f;
  padding-left: 2px;
}

::ng-deep button.card-ghost-button {
  display: flex !important;
  float: right !important;
  padding: 0.2rem 1.125rem !important;
  z-index: 2;
}

.edit-dataset-button {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  border: none !important;
  cursor: pointer !important;
  outline: none !important;
  overflow: hidden !important;
  color: #ffffff;
}

.orb-service- {
  &true {
    color: #6fcf97;
  }

  &false {
    color: #df316f;
  }
}

