<div class="row">
  <div class="col-xl-12">
    <nb-card class="dash-top" size="large">
      <nb-card-header>
        <h5 class="dash-top-text">inputs</h5>
      </nb-card-header>
      <nb-card-body>
        <div class="container fluid"></div>
        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Input Rectangle</label>
            <div class="d-flex align-items-start justify-content-between">
              <input nbInput status="basic" shape="rectangle" fieldSize="small" value="Small basic"/>
              <input nbInput status="basic" shape="rectangle" fieldSize="medium" value="Small medium"/>
              <input nbInput status="basic" shape="rectangle" fieldSize="large" value="Small large"/>
            </div>
            <div class="d-flex align-items-start justify-content-between mt-3">
              <input nbInput status="success" shape="rectangle" fieldSize="small" value="medium success"/>
              <input nbInput status="warning" shape="rectangle" fieldSize="medium" value="large success"/>
              <input nbInput status="danger" shape="rectangle" fieldSize="large" value="large danger"/>
            </div>

            <div class="d-flex align-items-start justify-content-between mt-3">
              <input nbInput status="basic" shape="rectangle" fieldSize="small" value="Small basic" disabled/>
              <input nbInput status="success" shape="rectangle" fieldSize="medium" placeholder="medium success"
                     disabled/>
              <input nbInput status="danger" shape="rectangle" fieldSize="large" value="large danger" disabled/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Input Round</label>
            <div class="d-flex align-items-start justify-content-between">
              <input nbInput status="basic" shape="round" size="small" value="Small basic"/>
              <input nbInput status="primary" shape="round" size="small" value="medium primary"/>
              <input nbInput status="info" shape="round" size="medium" value="medium info"/>
            </div>
            <div class="d-flex align-items-start justify-content-between mt-3">
              <input nbInput status="success" shape="round" size="medium" value="medium success"/>
              <input nbInput status="warning" shape="round" size="medium" value="large success"/>
              <input nbInput status="danger" shape="round" size="large" value="large danger"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Input Semi Round</label>
            <div class="d-flex align-items-start justify-content-between">
              <input nbInput status="basic" shape="semi-round" size="small" value="Small basic"/>
              <input nbInput status="primary" shape="semi-round" size="small" value="medium primary"/>
              <input nbInput status="info" shape="semi-round" size="medium" value="medium info"/>
            </div>
            <div class="d-flex align-items-start justify-content-between mt-3">
              <input nbInput status="success" shape="semi-round" size="medium" value="medium success"/>
              <input nbInput status="warning" shape="semi-round" size="medium" value="large success"/>
              <input nbInput status="danger" shape="semi-round" size="large" value="large danger"/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>


    <nb-card class="dash-top" size="large">
      <nb-card-header>
        <h5 class="dash-top-text">Buttons</h5>
      </nb-card-header>
      <nb-card-body>
        <div class="container fluid"></div>
        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Colors</label>
            <div class="d-flex align-items-start justify-content-between">
              <button nbButton status="basic">basic</button>
              <button nbButton status="primary">primary</button>
              <button nbButton status="info">info</button>
              <button nbButton status="success">success</button>
              <button nbButton status="warning">warning</button>
              <button nbButton status="danger">danger</button>
              <button nbButton status="control">control</button>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Sizes</label>
            <div class="d-flex align-items-start justify-content-between">
              <button nbButton size="tiny">tiny</button>
              <button nbButton size="small">small</button>
              <button nbButton size="medium">medium</button>
              <button nbButton size="large">large</button>
              <button nbButton size="giant">giant</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Styles</label>
            <div class="d-flex align-items-start justify-content-between">
              <button nbButton outline status="primary">Primary</button>
              <button nbButton outline status="success">Success</button>
              <button nbButton outline status="info">Info</button>
              <button nbButton outline status="warning">Warning</button>
              <button nbButton outline status="danger">Danger</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Shapes</label>
            <div class="d-flex align-items-start justify-content-between">
              <button nbButton shape="rectangle" status="primary">Rectangle Hero</button>
              <button nbButton shape="semi-round" status="info">Semi-round Outline</button>
              <button nbButton shape="round" size="small" status="success">Round Small</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Icon Buttons</label>
            <div class="d-flex align-items-start justify-content-between">
              <button nbButton status="primary">
                <nb-icon icon="star"></nb-icon>
                Primary
              </button>
              <button nbButton status="success">Success
                <nb-icon icon="star"></nb-icon>
              </button>
              <button nbButton status="danger">
                <nb-icon icon="star"></nb-icon>
              </button>
              <button nbButton ghost status="danger">
                <nb-icon icon="star"></nb-icon>
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card class="dash-top" size="large">
      <nb-card-header>
        <h5 class="dash-top-text">Select</h5>
      </nb-card-header>
      <nb-card-body>
        <div class="container fluid"></div>
        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Regular</label>
            <div class="d-flex align-items-start justify-content-between">
              <nb-select placeholder="Select Showcase" appearance="filled" size="medium">
                <nb-option value="">Option empty</nb-option>
                <nb-option value="0">Option 0</nb-option>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 flex-column mt-4">
            <label>Multiple</label>
            <div class="d-flex align-items-start justify-content-between">
              <nb-select multiple placeholder="Multiple Select" appearance="filled" size="medium">
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
