<nb-card>
  <nb-card-header>Active Groups</nb-card-header>
  <nb-card-body>
    <span class="summary-accent" *ngIf="errors?.nogroup">{{ errors.nogroup }}</span>

    <nb-accordion *ngFor="let group of groups; trackBy: identify">
      <nb-accordion-item>
        <nb-accordion-item-header> 
          <span class="summary-accent">Group:</span>&nbsp;{{ group?.name }} 
        </nb-accordion-item-header>
        <nb-accordion-item-body> 
          <button *ngIf="group?.matching_agents?.online !== 0"
          (click)="showAgentGroupMatches(group)"
          class="agent-group-button">
            <span>
              {{ group?.matching_agents?.online }} out of {{ group?.matching_agents?.total }} agents are <span style="color: #6fcf97">online</span>
            </span>
          </button>
          <button *ngIf="group?.matching_agents?.online === 0 && group?.matching_agents?.total !== 0"
          (click)="showAgentGroupMatches(group)"
          class="agent-group-button">
            <span>
              None of {{ group?.matching_agents?.total }} agents are online.
            </span>
          </button>
          <span *ngIf="group?.matching_agents?.total === 0"  class="agent-group-button">
            Group don't have any agents.
          </span>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>