<nb-card>
  <nb-card-header>Active Groups</nb-card-header>
  <nb-card-body>
    <span class="error-accent" *ngIf="errors?.nogroup">{{ errors.nogroup }}</span>

    <ng-container *ngFor="let group of groups; last as isLast"
    
    [value]="group">
    >
    </ng-container>
  </nb-card-body>
</nb-card>

<ng-template #groupitem>
  <button class='agent-group-button'
          (click)="showAgentGroupDetail(group)"
          *ngFor="let group of groups; last as isLast">
    <span class="agent-group-accent">{{ group.name }}</span>
    <span *ngIf="!isLast">,</span>
  </button>
</ng-template>

<ng-template #erroritem>
  <span class="agent-group-error">{{ group.id + ': ' + group.status + ' ' + group.statusText }}</span>
</ng-template>