<nb-card>
  <nb-card-header>Capabilities</nb-card-header>
  <nb-card-body>
    <label>Taps</label>
    <span *ngIf="!agent?.agent_metadata?.backends"
          class="float-right summary-accent">
          <span *ngIf="agent?.state === agentStates.new">
            Agent has been provisioned but never connected.
          </span>
        </span>
    <div *ngFor="let backend of agent?.agent_metadata?.backends | keyvalue">
      <pre innerHtml="{{ backend?.value?.data | prettyJson: [false, 2] }}"></pre>
    </div>
  </nb-card-body>
</nb-card>