<nb-card>
  <nb-card-header>
    Delete {{ elementName }} Confirmation
    <button nbButton
            ghost="true"
            size="small"
            class="orb-close-dialog align-content-end"
            (click)="onClose()">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <p>Are you sure you want to delete a total of {{ selected?.length }} {{ elementName }}? This action cannot be undone.</p>
    <div *ngFor="let item of selected">
      {{ item.name }} <span class="orb-service-{{ item.state }} orb-service-{{ item.usage }}"> {{ item.state | titlecase }} {{ item.usage | titlecase }} </span>
    </div>
    <p class style="color: #df316f !important; margin-top: 15px !important;">*To confirm, type the amount of {{ elementName }} to be delete.</p>
    <input type="text"
           #autoInput
           [nbAutocomplete]="auto"
           nbInput
           fullWidth
           placeholder="{{selected?.length }}" [(ngModel)]="validationInput">
    <nb-autocomplete #auto >
      <nb-option [value]="selected?.length "> {{selected?.length}}</nb-option>
    </nb-autocomplete>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton
            shape="round"
            class="orb-sink-delete-warning-button"
            [disabled]="!isEnabled()"
            (click)="onDelete()">
            I Understand, Delete All {{ selected?.length }} {{ elementName }} Selected.
    </button>
  </nb-card-footer>
</nb-card>