<div class="container">
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
  </header>
  <div class="d-flex row">
    <div class="d-flex col-12 mt-5">
      <nb-stepper orientation="vertical"
                  class="stepper w-100 ml-5"
                  disableStepNavigation>
        <nb-step [label]="firstStepTemplate"
                 [stepControl]="firstFormGroup">
          <ng-template #firstStepTemplate>
            <div class="step-label d-flex flex-column">
              <strong>Agent Details</strong>
              <p>This is how you will be able to easily identify your Agent Group</p>
            </div>
          </ng-template>
          <form [formGroup]="firstFormGroup"
                (ngSubmit)="onFormSubmit()">
            <nb-form-field>
              <div class="d-flex flex-column">
                <div>
                  <label class="font-weight-bold">Group Name</label>
                  <span class="required">*</span>
                </div>
                <input nbInput
                       autofocus
                       fullWidth="true"
                       fieldSize="medium"
                       formControlName="name"/>
              </div>
            </nb-form-field>
            <nb-form-field>
              <div>
                <label class="font-weight-bold">Description</label>
              </div>
              <input nbInput
                     fullWidth="true"
                     fieldSize="medium"
                     formControlName="description"/>
            </nb-form-field>
            <div class="d-flex justify-content-end">
              <button
                nbButton
                ghost
                (click)="goBack()"
                type="button"
                status="primary">Cancel
              </button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!firstFormGroup.valid" nbStepperNext>Next
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="secondStepLabel">
          <ng-template #secondStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>Select Value Pairs</strong>
              <p>Set the values that will be used to group Agents.</p>
            </div>
          </ng-template>
          <form [formGroup]="secondFormGroup">
            <nb-form-field>
              <div>
                <p>Add aggregator tags</p>
              </div>
              <div class="container d-flex row px-0 mx-0">
                <div class="d-flex flex-column col-5 px-0 mx-0">
                  <div>
                    <label class="font-weight-bold">Key</label>
                    <span class="required">*</span>
                  </div>
                  <div>
                    <input nbInput
                           autofocus
                           fullWidth="true"
                           fieldSize="medium"
                           formControlName="key"/>
                  </div>
                </div>
                <div class="d-flex justify-content-center align-items-center col-1 mt-4 px-0 mx-0">
                  <nb-icon style="color: #df316f;" icon="plus-outline" size="14"></nb-icon>
                </div>
                <div class="d-flex flex-column col-5 px-0 mx-0">
                  <div>
                    <label class="font-weight-bold">Value</label>
                    <span class="required">*</span>
                  </div>
                  <div>
                    <input nbInput
                           autofocus
                           fullWidth="true"
                           fieldSize="medium"
                           formControlName="value"/>
                  </div>
                </div>
                <div class="d-flex col-1 align-items-center justify-content-center mx-0 pl-4 px-0"
                     style="transform: translateY(14px);">
                  <button nbButton
                          ghost
                          (click)="onAddTag()"
                          [disabled]="(secondFormGroup.controls['key'].value === '' ||
                          secondFormGroup.controls['value'].value === '')">
                    <nb-icon style="color: #df316f;"
                             status="primary"
                             icon="plus-outline"
                             size="14">
                    </nb-icon>
                  </button>
                </div>
              </div>
            </nb-form-field>
            <hr/>
            <div class="d-flex">
              <mat-chip-list>
                <mat-chip
                    class="orb-tag-sink "
                    *ngFor="let tag of secondFormGroup.controls.tags.value">
                  {{tag | keyvalue | tagchip}}
                  <button class="nb-close" (click)="onRemoveTag(tag)"></button>
                </mat-chip>
              </mat-chip-list>
            </div>

            <div class="d-flex justify-content-end"
                 *ngIf="secondFormGroup">
              <button
                  nbButton
                  ghost
                  status="primary"
                  nbStepperPrevious>Back
              </button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!secondFormGroup.valid" nbStepperNext>Next
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="thirdStepLabel">
          <ng-template #thirdStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>Review & Confirm</strong>
            </div>
          </ng-template>
          <div class="d-flex row">
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">Name Label</label>
                <p>{{firstFormGroup.controls.name.value}}</p>
              </div>
            </div>
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">Description</label>
                <p>{{firstFormGroup.controls.description.value}}</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end" *ngIf="secondFormGroup">
            <button
              nbButton
              ghost
              status="primary"
              nbStepperPrevious>Back
            </button>
            <button class="next-button"
                    nbButton
                    shape="round"
                    status="primary"
                    (click)="onFormSubmit()"
                    type="submit">Save
            </button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
</div>
