<div class="container">
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
      <ng-container
          *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
        <ng-container [ngClass]="{'my_class': first === ''}">{{ breadcrumb }}</ng-container>
      </ng-container>
    </xng-breadcrumb>
    <h4>{{strings.sink[isEdit ? 'edit' : 'add']['header']}}</h4>
  </header>
  <div class="d-flex row">
    <div class="d-flex col-12 mt-5">
      <nb-stepper orientation="vertical"
                  class="stepper w-100 ml-5"
                  disableStepNavigation>
        <nb-step [label]="firstStepTemplate"
                 [stepControl]="firstFormGroup">
           <ng-template #firstStepTemplate>
                <div class="step-label d-flex flex-column">
                  <strong>Sink Details</strong>
                  <p>Provide a name and description for the Sink</p>
                </div>
            </ng-template>
          <form [formGroup]="firstFormGroup" (ngSubmit)="onFormSubmit()">
            <nb-form-field>
              <div class="d-flex flex-column">
                <div>
                  <label class="font-weight-bold">Name Label</label>
                  <span class="required">*</span>
                </div>
                <input nbInput
                       autofocus
                       fullWidth="true"
                       fieldSize="medium"
                       formControlName="name"/>
              </div>
            </nb-form-field>
            <nb-form-field>
                <div>
                  <label class="font-weight-bold">Sink Description</label>
                </div>
              <input nbInput
                     fullWidth="true"
                     fieldSize="medium"
                     formControlName="description"/>
            </nb-form-field>
            <nb-form-field>
                <div>
                  <label class="font-weight-bold">Sink Type</label>
                  <span class="required">*</span>
                </div>
               <nb-select size="medium"
                          (selectedChange)="onSinkTypeSelected($event)"
                          fullWidth="true"
                          formControlName="backend"
                          appearance="outline"
                          placeholder="Select backend type">
                <nb-option *ngFor="let type of sinkTypesList"
                           [value]="type">{{ type }}</nb-option>
              </nb-select>
            </nb-form-field>
            <div class="d-flex justify-content-end">
              <button
                nbButton
                ghost
                (click)="goBack()"
                type="button"
                status="primary">Cancel</button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!firstFormGroup.valid" nbStepperNext>Next</button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="secondStepLabel">
            <ng-template #secondStepLabel>
                <div class="step-label d-flex flex-column">
                  <strong>Sink Destination</strong>
                  <p>Configure your sink settings</p>
                </div>
            </ng-template>
          <form [formGroup]="secondFormGroup">
            <nb-form-field *ngFor="let control of selectedSinkSetting;let i = index">
              <div>
                <label class="font-weight-bold">{{control.label}}</label>
              </div>
              <div [ngSwitch]="control.input">
                 <input *ngSwitchCase="'text'"
                   [autofocus]="i == 0"
                   nbInput
                   [type]="control.type"
                   fullWidth="true"
                   fieldSize="medium"
                   [formControlName]="control.prop" />
               <nb-select *ngSwitchCase="'select'"
                          size="medium"
                          fullWidth="true"
                          formControlName="backend"
                          appearance="outline"
                          placeholder="Select backend type">
                <nb-option *ngFor="let type of control.options"
                           [value]="type">{{ type }}</nb-option>
               </nb-select>
              </div>
            </nb-form-field>
            <div class="d-flex justify-content-end" *ngIf="secondFormGroup">
              <button
                nbButton
                ghost
                status="primary"
                nbStepperPrevious>Back</button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!secondFormGroup.valid" nbStepperNext>Next</button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="thirdStepLabel">
            <ng-template #thirdStepLabel>
                <div class="step-label d-flex flex-column">
                  <strong>Review & Confirm</strong>
                </div>
            </ng-template>
          <div class="d-flex row">
            <div class="col-md-12 col-xl-6">
                <div>
                  <label class="font-weight-bold">Name Label</label>
                  <p>{{firstFormGroup.controls.name.value}}</p>
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <div>
                  <label class="font-weight-bold">Description</label>
                  <p>{{firstFormGroup.controls.description.value}}</p>
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <div>
                  <label class="font-weight-bold">Sink Type</label>
                  <p>{{firstFormGroup.controls.backend.value}}</p>
                </div>
            </div>
          </div>
          <div class="d-flex row mt-4">
            <div class="col-md-12 col-xl-6" *ngFor="let control of selectedSinkSetting">
               <div>
                  <label class="font-weight-bold">{{control.label}}</label>
                  <p *ngIf="control.type != 'password'">{{secondFormGroup.controls[control.prop].value}}</p>
                  <p *ngIf="control.type == 'password'">*******</p>
                </div>
            </div>
          </div>
          <div class="d-flex justify-content-end" *ngIf="secondFormGroup">
              <button
                nbButton
                ghost
                status="primary"
                nbStepperPrevious>Back</button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      (click)="onFormSubmit()"
                      type="submit">Save</button>
            </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
</div>
