nb-card {
  border: transparent;
  border-radius: 0.5rem;
  padding: 0 !important;

  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
  }

  nb-card-body {
    padding-bottom: 0 !important;
    margin: 0 !important;

    label {
      color: #969fb9;
    }

    span {
      text-align: end;
    }

    div .row {
      display: block;
    }
    input {
      height: 42px;
    }
  }
}
.italic {
  font-style: italic;
  font-size: 0.9rem;
  color: #d9deee;
}
.summary-accent {
  color: #969fb9 !important;
}

.required {
  color: #df316f;
  padding-left: 2px;
}
