<nb-card>
  <nb-card-header>Agent Backends</nb-card-header>
  <nb-card-body>    
    <nb-tabset>
      <nb-tab *ngFor="let backend of agent?.agent_metadata?.backends | keyvalue"
          tabTitle="{{backend.key}}">
          <p><label>Version:</label> {{backend.value.version}}</p>
          <ng-container *ngIf="agent?.last_hb_data?.backend_state">
            <p><label>State</label> {{agent.last_hb_data.backend_state[backend.key].state}}</p>
            <p><label>Last Restart</label> {{agent.last_hb_data.backend_state[backend.key].last_restart_ts | date:'full'}}</p>
          </ng-container>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
