<nb-card>
  <nb-card-header>Agent Backends</nb-card-header>
  <nb-card-body>    
    <nb-tabset *ngIf="agent?.state !== agentStates.new">
      <nb-tab *ngFor="let backend of agent?.agent_metadata?.backends | keyvalue"
          tabTitle="{{backend.key}}">
          <p><label>Version:</label> {{backend.value.version}}</p>
          <ng-container *ngIf="agent?.last_hb_data?.backend_state">
            <p><label>State</label> {{agent.last_hb_data.backend_state[backend.key].state}}</p>
            <p><label>Last Restart</label> {{agent.last_hb_data.backend_state[backend.key].last_restart_ts | date:'full'}}</p>
            <div *ngIf="agent.last_hb_data.backend_state[backend.key].error">
              <p class="error"><label>Error:</label> {{ agent.last_hb_data.backend_state[backend.key].error }} </p>
              <p class="error"><label>Last Error:</label> {{ agent.last_hb_data.backend_state[backend.key].last_error }} </p>
            </div>
          </ng-container>
      </nb-tab>
    </nb-tabset>
    <span *ngIf="agent?.state === agentStates.new" class="summary-accent">
      Agent needs to be connected to have a backend.
    </span>
  </nb-card-body>
</nb-card>
