<nb-card>
  <nb-card-header class="table-header">
    {{this.action}} Gateway
  </nb-card-header>

  <nb-card-body>
    <div class="row form-row">
      <div class="col-4 form-key">
        Name:
      </div>
      <div class="col-6">
        <input [(ngModel)]='formData.name' fieldSize="tiny" fullWidth
               nbInput>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-4 form-key">
        External ID:
      </div>
      <div class="col-6">
        <input [(ngModel)]='formData.externalID' fieldSize="tiny" fullWidth
               nbInput>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button (click)="submit()" nbButton status="success">{{this.action}}</button>
    <button (click)="cancel()" nbButton status="danger">Cancel</button>
  </nb-card-footer>
</nb-card>
