<div class="filter-div"> 
  <div
    class="filter-button" 
    (click)="onFilterClick()"
  >
    <span>Filter by</span>
    <nb-icon icon="chevron-down-outline" class="icon"></nb-icon>
  </div>

  <div id="filterMenu" class="filter-menu" *ngIf="showMenu">
    <button 
      id="filterMenu"
      class="filter-menu-item" 
      *ngFor="let option of availableFilters"
      (click)="handleFilterOptionClick(option)"
    >
      <span>{{ option.name }}</span>
    </button>
  </div>
</div>

<div class="apply-filter-div" *ngIf="currentFilter !== null">
  <input type="text"
    id="filterInput"
    class="apply-filter-input"
    nbInput
    placeholder="{{currentFilter.name}}"
    [readonly]="currentFilter?.options"
    [(ngModel)]="filterText"
    (click)="showOptions = true"
    [class.pointer-cursor]="currentFilter?.options"
    autofocus
  >
  <button 
    *ngIf="!currentFilter?.options"
    class="add-filter-button"
    [disabled]="!filterText"
    nbTooltip="Add Filter"
    (click)="onAddFilterButton(filterText)"
  >
    <nb-icon icon="plus-outline"></nb-icon>
  </button>
  <div class="filter-menu" *ngIf="optionsMenuType === 'multiselectsync' && showOptions">
    <div 
      *ngFor="let option of currentFilter?.options" 
      class="apply-filter-option"
      (click)="handleClickMultiSelect($event, option)"
    >
      <input type="checkbox" 
        (click)="onCheckboxMultiSelect($event, option)"
        [checked]="isOptionSelected(option) | async"             
      >
      <span>{{ option | titlecase }}</span>
    </div>
  </div>
  <div class="filter-menu" *ngIf="optionsMenuType === 'multiselectasync' && showOptions">
    <div 
      *ngFor="let option of currentFilter?.autoSuggestion | async" 
      class="apply-filter-option"
      (click)="handleClickMultiSelect($event, option)"
    >
      <input type="checkbox" 
        (click)="onCheckboxMultiSelect($event, option)"
        [checked]="isOptionSelected(option) | async"             
      >
      <span>{{ option | titlecase }}</span>
    </div>
  </div>
  <div class="filter-menu" *ngIf="optionsMenuType === 'input' && showOptions">
    <div 
      *ngFor="let option of currentFilter?.autoSuggestion | async" 
      class="apply-filter-option"
      (click)="handleClickInput($event, option)"
    > 
      <input type="checkbox" 
        (click)="onCheckboxInput($event, option)"
        [checked]="isOptionSelected(option) | async"            
      >
      <span>{{ option }}</span>
    </div>
  </div>
</div>

<div class="search-input-wrapper">
  <nb-icon icon="search-outline" class="search-icon"></nb-icon>
  <input type="text" 
    placeholder="Search by name" 
    [(ngModel)]="searchText"
    nbInput
    class="search-input"
    (ngModelChange)="onSearchTextChange()">
</div>
<div *ngIf="(hasActiveFilters() | async)" class="list-div">
  <div class="filters-list">
    <div class="filter-list-display">
      <ng-container *ngFor="let filter of activeFilters$ | async; let index = index" >
        <div class="filter-item" *ngIf="filter.name !== 'Name'">
          <div class="filter-name">
            <span>{{ filter?.name }}</span>
          </div>
          <div class="filter-param">
            <span>{{ filter?.param | paramformatter}}</span>
          </div>
          <div class="filter-remove" id="remove-button">
            <button class="remove-tag-button" (click)="removeFilter(index, filter)">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <button class="clear-filters-button" (click)="clearAllFilters()">
    <span>Clear filters</span>
  </button>
</div>
