.required {
  color: #df316f;
  padding-left: 2px;
}
.summary-accent {
  color: #969fb9 !important;
}

nb-form-field {
  margin-bottom: 0.95em;
}

input {
  height: 2.85em;
}
.orb-service- {
  &active {
    color: #6fcf97;
  }
  &unknown {
    color: #9b51e0;
  }
  &error {
    color: #df316f;
  }
  &idle {
    color: #f2994a; 
  }
}
.ns1red {
  color: #df316f;
}
nb-card {
  min-width: 368px;
}
