.required {
  color: #df316f;
  padding-left: 2px;
}
.summary-accent {
  color: #969fb9 !important;
}

nb-form-field {
  margin-bottom: 0.95em;
}

input {
  height: 2.85em;
}
.orb-service- {
  &active {
    color: #6fcf97;
  }
  &unknown {
    color: #9b51e0;
  }
  &error {
    color: #df316f;
  }
  &idle {
    color: #f2994a; 
  }
}
.ns1red {
  color: #df316f;
}
nb-card {
  margin: 15px 0 !important;
  padding: 0 !important;
  border: transparent;
  border-radius: 0.5rem;

  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
  }
  nb-card-body {
    label {
      color: #969fb9;
    }

    span {
      text-align: end;
    }
  }
}