<div>
  <div class="login-layout vw-100 vh-100">
    <div class="container-fluid h-100">
      <div class="orb-pane col-4 col-sm-6 h-100">
        <div class="d-flex flex-column justify-content-center align-content-center"
             id="orb-pane-div">
          <img alt="ORB logo"
               src="assets/images/orb_logo_original.png">
          <p [innerHTML]="strings.presentation.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-pane">
    <div class="bg"></div>
    <div class="pane d-flex flex-column justify-content-center">
      <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
        <p class="alert-title"><b>Error!</b></p>
        <ul class="alert-message-list">
          <li *ngFor="let error of errors" class="alert-message">{{ error | titlecase }}</li>
        </ul>
      </nb-alert>

      <form #form="ngForm"
            (ngSubmit)="register()"
            aria-labelledby="title"
            id="register-form"
      >
        <h1 class="title" id="title">Create an account</h1>

        <div class="form-control-group">
          <label class="label" for="input-name">Full name:</label>
          <input #fullName="ngModel"
                 [(ngModel)]="user.fullName"
                 [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.fullName.maxLength')"
                 [minlength]="getConfigValue('forms.validation.fullName.minLength')"
                 [required]="getConfigValue('forms.validation.fullName.required')"
                 [status]="fullName.dirty ? (fullName.invalid  ? 'danger' : 'success') : 'basic'"
                 autofocus
                 fieldSize="large"
                 fullWidth
                 id="input-name"
                 name="fullName"
                 nbInput
                 pattern="^([a-zà-ÿA-Z']+)\s([a-zà-ÿA-Z '.]+)$"
                 placeholder="Full name">
          <ng-container *ngIf="fullName.invalid && fullName.touched">
            <p *ngIf="fullName.errors?.required" class="caption status-danger mb-1">
              Full name is required!
            </p>
            <p *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength" class="caption status-danger mb-1">
              Full name should contain
              from {{getConfigValue('forms.validation.fullName.minLength')}}
              to {{getConfigValue('forms.validation.fullName.maxLength')}}
              characters
            </p>
            <p *ngIf="fullName.errors?.pattern" class="caption status-danger mb-1">
              Full name should contain at least two space separated names containing the following characters: [a-zà-ÿA-Z '.]
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
          <label class="label" for="input-company">Company name:</label>
          <input #company="ngModel"
                 [(ngModel)]="user.company"
                 [attr.aria-invalid]="company.invalid && company.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.company.maxLength')"
                 [minlength]="getConfigValue('forms.validation.company.minLength')"
                 [required]="getConfigValue('forms.validation.company.required')"
                 [status]="company.dirty ? (company.invalid  ? 'danger' : 'success') : 'basic'"
                 autofocus
                 fieldSize="large"
                 fullWidth
                 id="input-company"
                 name="company"
                 nbInput
                 placeholder="Company name">
          <ng-container *ngIf="company.invalid && company.touched">
            <p *ngIf="company.errors?.required" class="caption status-danger mb-1">
              Company name is required!
            </p>
            <p *ngIf="company.errors?.minlength || company.errors?.maxlength" class="caption status-danger mb-1">
              Company name should contain
              from {{getConfigValue('forms.validation.company.minLength')}}
              to {{getConfigValue('forms.validation.company.maxLength')}}
              characters
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
          <label class="label" for="input-email">Email address:</label>
          <input #email="ngModel"
                 [(ngModel)]="user.email"
                 [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                 [required]="getConfigValue('forms.validation.email.required')"
                 [status]="email.dirty ? (email.invalid || user.email === repeatedEmail ? 'danger' : 'success') : 'basic'"
                 fieldSize="large"
                 fullWidth
                 id="input-email"
                 name="email"
                 nbInput
                 pattern=".+@.+..+"
                 placeholder="Email address">
          <ng-container *ngIf="(email.invalid || user.email === repeatedEmail)  && email.touched">
            <p *ngIf="email.errors?.required" class="caption status-danger mb-1">
              Email is required!
            </p>
            <p *ngIf="email.errors?.pattern" class="caption status-danger mb-1">
              Email should be the real one!
            </p>
            <p *ngIf="user.email === repeatedEmail" class="caption status-danger mb-1">
              This email is already being used!
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
          <label class="label" for="input-password">Password:</label>
          <input #password="ngModel"
                 [(ngModel)]="user.password"
                 [attr.aria-invalid]="password.invalid && password.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                 [minlength]="getConfigValue('forms.validation.password.minLength')"
                 [required]="getConfigValue('forms.validation.password.required')"
                 [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                 [type]="getInputType()"
                 fieldSize="large"
                 fullWidth
                 id="input-password"
                 name="password"
                 nbInput
                 placeholder="Password">
          <span (click)="toggleShowPassword()"
                class="password-icon"
                ghost
                nbSuffix>
          <nb-icon [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                   [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                   pack="eva">
          </nb-icon>
        </span>
          <ng-container *ngIf="password.invalid && password.touched">
            <p *ngIf="password.errors?.required" class="caption status-danger mb-1">
              Password is required!
            </p>
            <p *ngIf="password.errors?.minlength || password.errors?.maxlength" class="caption status-danger mb-1">
              Password should contain
              from {{ getConfigValue('forms.validation.password.minLength') }}
              to {{ getConfigValue('forms.validation.password.maxLength') }}
              characters
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
          <label class="label" for="input-re-password">Repeat password:</label>
          <input #rePass="ngModel"
                 [(ngModel)]="user.confirmPassword"
                 [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
                 [required]="getConfigValue('forms.validation.password.required')"
                 [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
                 [type]="getInputType()"
                 fieldSize="large"
                 fullWidth
                 id="input-re-password"
                 name="rePass"
                 nbInput
                 placeholder="Confirm Password">
          <span (click)="toggleShowPassword()"
                class="password-icon"
                ghost
                nbSuffix>
          <nb-icon [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                   [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                   pack="eva">
          </nb-icon>
        </span>
          <ng-container *ngIf="rePass.invalid && rePass.touched">
            <p *ngIf="rePass.errors?.required" class="caption status-danger mb-1">
              Password confirmation is required!
            </p>
            <p *ngIf="password.value != rePass.value && !rePass.errors?.required" class="caption status-danger mb-1">
              Password does not match the confirm password.
            </p>
          </ng-container>
        </div>

        <ps-click-wrap
          *ngIf="_psEnabled"
          [accessId]="_sid"
          [confirmationEmail]="true"
          [groupKey]="_groupKey"
          [testMode]="!_isProduction"
          signerIdSelector="input-email"
        >
        </ps-click-wrap>

        <button [class.btn-pulse]="submitted"
                [disabled]="!form.valid || user.email === repeatedEmail"
                class="mt-3"
                fullWidth
                nbButton
                size="large"
                status="primary">
          Register
        </button>
      </form>

      <span aria-label="Sign in" class="another-action label pt-1">
      Already have an account? <a class="text-link" routerLink="../login">Log in</a>
    </span>
    </div>
  </div>
  <nb-layout style="display: none"></nb-layout>

</div>
