<div class="row">
  <div class="col-xl-12">
    <nb-card class="dash-top" size="tiny">
      <nb-card-header>
        <h5 class="dash-top-text">inputs</h5>
      </nb-card-header>
      <nb-card-body>
        <div class="container fluid"></div>
        <div class="row">
          <div class="col-12">
            <label>Input Rectangle</label>
            <button nbInput status="basic"shape="rectangle" size="small">Small basic</button>
            <button nbInput status="primary"shape="rectangle" size="small">medium primary</button>
            <button nbInput status="info"shape="rectangle" size="medium">medium info</button>
            <button nbInput status="success"shape="rectangle" size="medium">medium success</button>
            <button nbInput status="warning"shape="rectangle" size="medium">large success</button>
            <button nbInput status="danger"shape="rectangle" size="large">large danger</button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label>Input Round</label>
            <button nbInput status="basic"shape="round" size="small">Small basic</button>
            <button nbInput status="primary"shape="round" size="small">medium primary</button>
            <button nbInput status="info"shape="round" size="medium">medium info</button>
            <button nbInput status="success"shape="round" size="medium">medium success</button>
            <button nbInput status="warning"shape="round" size="medium">large success</button>
            <button nbInput status="danger"shape="round" size="large">large danger</button>
          </div>
        </div>

                <div class="row">
          <div class="col-12">
            <label>Input Semi Round</label>
            <button nbInput status="basic"shape="semi-round" size="small">Small basic</button>
            <button nbInput status="primary"shape="semi-round" size="small">medium primary</button>
            <button nbInput status="info"shape="semi-round" size="medium">medium info</button>
            <button nbInput status="success"shape="semi-round" size="medium">medium success</button>
            <button nbInput status="warning"shape="semi-round" size="medium">large success</button>
            <button nbInput status="danger"shape="semi-round" size="large">large danger</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    Hello World!42141241
  </div>
</div>
