<div class="row">
  <div class="col-md-12">
    <nb-card size="big">
      <nb-card-header class="card-header">
        <div class="row">
          <div class="col-md-6"> {{ page.total }} states of {{ twin.name }}</div>
          <div class="col-1 form-key">
            From:
          </div>
          <div class="col-2">
            <input nbInput fieldSize="tiny" fullWidth
                   value="{{this.lowerLimit}}"
                   (change)="lower($event)">
          </div>
          <div class="col-1 form-key">
            To:
          </div>
          <div class="col-2">
            <input nbInput fieldSize="tiny" fullWidth
                   value="{{this.upperLimit}}"
                   (change)="upper($event)">
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <ngx-table-component [config]="tableConfig"
                             [page]="page">
        </ngx-table-component>
      </nb-card-body>
      <nb-card-footer>
        <ngx-pagination-component [page]="page"
                                  (changeLimitEvent)=onChangeLimit($event)
                                  (changePageEvent)=onChangePage($event)>
        </ngx-pagination-component>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
