<nb-card>
  <nb-card-header>
    {{strings.delete.header}}
    <button nbButton
            ghost="true"
            size="small"
            class="orb-close-dialog align-content-end"
            (click)="onClose()">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <p>{{strings.delete.body}}<span class="ns1-red">*</span></p>
    <p class="ns1-red">{{strings.delete.warning}}</p>
    <input type="text" #autoInput [nbAutocomplete]="auto" nbInput fullWidth placeholder="{{sink.name}}" [(ngModel)]="userInput">
    <nb-autocomplete #auto >
      <nb-option [value]="sink.name"> {{sink.name}}</nb-option>
    </nb-autocomplete>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton
            shape="round"
            class="orb-sink-delete-warning-button"
            [disabled]="!isEnabled()"
            (click)="onDelete()">{{strings.delete.delete}}
    </button>
  </nb-card-footer>
</nb-card>
