<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="card-header">
        LoRa Device Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-2 form-key"> Name: </div><div class="col-md-10"> {{ loraDevice.name }} </div>
          <div class="col-md-2 form-key"> ID: </div><div class="col-md-10"> {{ loraDevice.id }} </div>
          <div class="col-md-2 form-key"> Key: </div><div class="col-md-10"> {{ loraDevice.key }} </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="card-header">
        Metadata
      </nb-card-header>
      <nb-card-body>
        <pre>{{ loraDevice.metadata | json}}</pre>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Message Reader Monitor -->
<ngx-message-monitor [channels]="loraChannels"
                     [thingKey]="loraDevice.key">
</ngx-message-monitor>
