<nb-card *ngIf="provisioningTypeMode.default">
  <nb-card-header>
    Default Provisioning Command
  </nb-card-header>
  <nb-card-body>
    <pre>
      <button [cdkCopyToClipboard]="defaultCommandCopy" 
        nbTooltip="Copy Provisioning Command">
        <nb-icon (click)="toggleIcon('command')" [icon]="copyCommandIcon" pack="eva">
        </nb-icon>
      </button>
      <code [innerHtml]="defaultCommandShow">
        {{ defaultCommandShow }}
      </code>
    </pre>
  </nb-card-body>    
</nb-card>

<nb-card *ngIf="provisioningTypeMode.configFile">
  <nb-card-header>
    Provisioning Command with Configuration File
  <a href="https://orb.community/documentation/running_orb_agent/#configuration-files" target="_blank">
    <nb-icon icon="info-outline" style="margin-top: 3px; margin-right: 10px;" 
    nbTooltip="This command requires that a configuration file named &quot;agent.yaml&quot; exist in your current working directory. Click to go to documentation.">
    </nb-icon>
  </a>

  </nb-card-header>
  <nb-card-body>
    <pre>
      <button [cdkCopyToClipboard]="fileConfigCommandCopy" 
      nbTooltip="Copy Provisioning Command">
      <nb-icon (click)="toggleIcon('command')" [icon]="copyCommandIcon" pack="eva">
      </nb-icon>
      </button>
      <code [innerHtml]="fileConfigCommandShow">
        {{ fileConfigCommandShow }}
      </code>
    </pre>
  </nb-card-body> 
</nb-card> 

