<nb-card>
  <nb-card-header>
    Provisioning Command
    <nb-select [(selected)]="selectedOS"
               appearance="filled"
               class="float-right"
               data-orb-qa-id="selected_OS">
      <nb-option *ngFor="let option of availableOS"
                 [value]="option">
        {{ option | titlecase }}
      </nb-option>
    </nb-select>
    <button
      style="color: #3089fc"
      ghost="true"
      nbButton
      (click)="toggleProvisioningCommand()">
      <nb-icon [icon]="hideCommand ? 'plus-outline': 'minus-outline'"
               pack="eva">
      </nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body [hidden]="hideCommand">
    <p>
      To use the provisioning command, you must replace AGENT_KEY with the Agent Key given to you during agent
      creation. If you have lost the Agent Key, you must remove and create a new agent.
    </p>
    <pre>
      <button
        [cdkCopyToClipboard]="command2copy"
        ghost="true"
        (click)="toggleIcon('command')"
        nbButton>
        <nb-icon [icon]="copyCommandIcon"
                  pack="eva">
        </nb-icon>
      </button>
      <code [innerHtml]="command2show">{{ command2show }}</code>
    </pre>
  </nb-card-body>
</nb-card>
