h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

nb-card {
  border: transparent;
  border-radius: 0.5rem;
  padding: 0 !important;

  nb-card-header {
    background-color: #232940;
    border-bottom: transparent;
    border-radius: 0.5rem;
    color: #969fb9;
    padding: 0.5rem 1rem;
    button {
      float: right;
      margin: 0;
    }
    nb-icon {
      float: right  ;
    }
  }

  nb-card-body {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0 2rem 0 2rem;
    padding: 0;

    label {
      color: #969fb9;
    }

    span {
      text-align: end;
    }

    .active-dataset {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    pre {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-content: space-between;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0;

      background: transparent;
      padding: 0.75rem;
      border-radius: 0.5rem;
      white-space: pre-line;

      button {
        background: transparent;
        border: 0 transparent;
        color: #969fb9;
        top: -0.25rem;
        float: right;
        right: -0.5rem;
        outline: none;
      }

      code {
        color: #ffffff;
        line-height: 2.5 !important;
      }
    }
  }
}

::ng-deep {

  .agent-group-link {
    color: #0c5dc5;
    text-decoration: underline;
    text-decoration-color: #0c5dc5;
  }

  .agent-new {
    color: #9b51e0 !important;
  }

  .agent-online, .dataset-valid, .policy-running {
    color: #6fcf97 !important;
  }

  .agent-offline, .dataset-invalid, .policy-error {
    color: #df316f !important;
  }

  .agent-stale {
    color: #f2994a !important;
  }

  .agent-removed {
    color: #62d9ff !important;
  }

  .summary-accent {
    color: #969fb9 !important;
  }
}

::ng-deep {
  mark {
    background: #1c2339 !important;
    color: #df316f !important;
  }
}
button {
  box-shadow: none !important;
  outline: none !important;
  margin-right: 15px;
}
a {
  white-space: nowrap !important;
  padding: 0 0.3rem !important;
  background-color: #ff9f05 !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  color: #ffffff !important;
  border-radius: 10px;
  fill: #3089fc !important;
}
