
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: rgba(150, 159, 185, 0.5);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #969fb9;
  border-radius: 16px;
}


@mixin ngx-layout() {
  @include media-breakpoint-down(is) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}
