@import './themes';
@import 'orb/ngx-datatable/ngx-datatable';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
  // Navbar
  nb-layout-header nav {
    box-shadow: none !important;
  }
  .mat-ripple.mat-ripple-unbounded {
    color: #c4c4c4 !important;
  }

  nb-user.size-medium .user-name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
  }

  nb-layout .layout {
    background-color: #171c30;
  }

  nb-layout-header {
    max-height: 71px;
    background-color: #232940 !important;
  }

  //sidebar

  nb-sidebar {
    background-color: #171c30 !important;
    box-shadow: none !important;
    .scrollable {
      padding-top: 5px !important;
    }
  }

  nb-menu .menu-item a.active {
    color: #fff !important;
    font-weight: 700 !important;
  }
  nb-menu {
    font-family: Montserrat !important;
    font-size: 12px;

    .menu-item {
      .menu-items {
        .menu-item {
          .a {
            .active {
              color: #fff !important;
              font-weight: 700 !important;
            }
          }
        }
      }

      & > menu-items & > .menu-item a.active {
        color: #fff !important;
        font-weight: 700 !important;
      }

      a {
        color: #c4c4c4 !important;
        font-weight: 400 !important;

        active {
          color: #fff !important;
        }

        &:hover {
          .menu-title {
            color: #598bff;
          }
        }

        .menu-title {
          padding-left: 17px;
        }
      }

      .menu-icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  nb-card {
    border: none;
  }

  nb-card nb-list {
    @include nb-scrollbars(
      nb-theme(card-scrollbar-color),
      nb-theme(card-scrollbar-background-color),
      nb-theme(card-scrollbar-width)
    );
  }

  .table {
    color: nb-theme(text-basic-color) !important;
  }
}

.card-button {
  border-radius: 15px !important;
  float: right !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: none !important;

  &.btn-disabled {
    background: #2b3148;
  }
}

.tableWrapper {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: auto;
  min-width: 800px;
}

.orb-table {
  min-height: calc(100vh - 300px);
  min-width: 800px;
  max-height: calc(100vh - 300px);
}

.orb-table-small {
  min-height: calc(25vh);
  min-width: 600px;
  max-height: calc(25vh);
}
