@import './themes';
@import 'orb/ngx-datatable/ngx-datatable';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
  // Navbar
  nb-layout-header nav {
    box-shadow: none !important;
  }
  .mat-ripple.mat-ripple-unbounded {
    color: #c4c4c4 !important;
  }

  nb-user.size-medium .user-name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
  }

  nb-layout .layout {
    background-color: #171c30;
  }

  nb-layout-header {
    max-height: 71px;
    background-color: #232940 !important;
  }

  //sidebar

  nb-sidebar {
    background-color: #171c30 !important;
    box-shadow: none !important;
    .scrollable {
      padding-top: 5px !important;
    }
  }

  nb-menu .menu-item a.active {
    color: #fff !important;
    font-weight: 700 !important;
  }
  nb-menu {
    font-family: Montserrat !important;
    font-size: 12px;

    .menu-item {
      .menu-items {
        .menu-item {
          .a {
            .active {
              color: #fff !important;
              font-weight: 700 !important;
            }
          }
        }
      }

      & > menu-items & > .menu-item a.active {
        color: #fff !important;
        font-weight: 700 !important;
      }

      a {
        color: #c4c4c4 !important;
        font-weight: 400 !important;

        active {
          color: #fff !important;
        }

        &:hover {
          .menu-title {
            color: #598bff;
          }
        }

        .menu-title {
          padding-left: 17px;
        }
      }

      .menu-icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  nb-card {
    border: none;
      /* width */
    ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background: rgba(150, 159, 185, 0.5);
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 16px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #969fb9;
      border-radius: 16px;
    }
    scrollbar-color: #969fb9 #969fb980; 
    margin: 20px 0 !important;
  }

  nb-card nb-list {
    @include nb-scrollbars(
      nb-theme(card-scrollbar-color),
      nb-theme(card-scrollbar-background-color),
      nb-theme(card-scrollbar-width)
    );
  }

  .table {
    color: nb-theme(text-basic-color) !important;
  }
}

.nb-card-large {
  width: 50rem;
}

.nb-card-medium {
  width: 40rem;
}

.nb-card-small {
  width: 30rem;
}

.card-button {
  border-radius: 15px !important;
  float: right !important;
  color: #3089fc !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: none !important;
  background-color: transparent !important;

  &.btn-disabled {
    background: #2b3148;
  }
}
.card-button:hover {
  background-color: #171c30 !important;
}

.add-button {
  border-radius: 15px !important;
  float: right !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: none !important;
  background-color: #3089fc !important;

  &.btn-disabled {
    background: #2b3148;
  }
}
.delete-button:hover {
 background-color: #2b3148 !important;
}

.tableWrapper {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: auto;
  min-width: 800px;
}

.orb-table {
  min-height: calc(100vh - 300px);
  min-width: 800px;
  max-height: calc(100vh - 300px);
}

.orb-table-small {
  min-height: calc(25vh);
  min-width: 600px;
  max-height: calc(25vh);
}

.orb-service- {
  &new {
    color: #9b51e0;
  }
  &online, &healthy {
    color: #6fcf97;
  }
  &stale, &none {
    color: #f2994a;
  }
  &error, &failure {
    color: #df316f;
  }
  &offline {
    color: #969fb9;
  }
}
.required {
  color: #df316f;
  padding-left: 2px;
}
.refresh-button {
  border: none !important;
  box-sizing: border-box;
  box-shadow: none !important;
  margin-right: 0.3rem;

  &:active, &:focus {
    background-color: unset !important;
  }

  &:hover {
    background-color: rgba(143, 155, 179, 0.16);
  }
}

.paused {
  animation: rotation 750ms linear infinite;
  animation-play-state: paused;
}

.rotate {
  animation: rotation 750ms linear infinite;
  animation-play-state: running;

  &:hover {
    background: unset !important;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.delete-selected {
  color: #ffffff !important; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: none !important;
  width: 110px;
  background-color: #df316f !important;
}
