// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// material themes
@import './material/material-dark';
@import './material/material-light';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  //select-min-width: 200px,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  option-list-border-radius: 0,
  slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
  slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,
), material-light, material-light);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  option-list-border-radius: 0,
  slide-out-background: linear-gradient(270deg, #1f1f1f 0%, #292929 100%),
  slide-out-shadow-color: 0 4px 14px 0 #292929,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #292929,
), material-dark, material-dark);

$nb-themes: nb-register-theme((
  layout-padding-left: 0,
  layout-padding-right: 0,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0 0 0,
  menu-item-icon-active-color: #df316f,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  slide-out-background: linear-gradient(270deg, #1f1f1f 0%, #292929 100%),
  slide-out-shadow-color: 0 4px 14px 0 #292929,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #292929,
  // Stepper
  stepper-step-index-border-color: #969fb9,
  stepper-step-index-active-border-color: #df316f,
  stepper-step-active-text-color: #df316f,
  stepper-connector-background-color: #969fb9b3,
  stepper-connector-completed-background-color: #df316f,
  stepper-vertical-connector-margin: 0 1rem,
  stepper-step-index-completed-background-color: #df316f,
  stepper-step-index-completed-border-color: none,
  //Select
  select-medium-text-font-size: 16px,
  select-medium-text-font-weight: 500,
  select-medium-text-line-height: 24px,
  select-medium-placeholder-text-font-size: 14px,
  select-medium-placeholder-text-font-weight: 500,
  select-medium-max-width: 443px,
  select-outline-medium-padding: 8px 16px,
  select-rectangle-border-radius: 4px,
  select-filled-basic-background-color: #232940,
  select-filled-basic-border-color: #969fb9,
  select-filled-basic-icon-color: #969fb9,
  select-filled-basic-text-color: #969fb9,
  select-filled-basic-placeholder-text-color: #969fb9,
  select-filled-basic-focus-background-color: #232940,
  select-filled-basic-focus-border-color: #3089fc,
  select-filled-basic-hover-background-color: #232940,
  select-filled-basic-hover-border-color: #3089fc,
  select-filled-basic-disabled-background-color: rgba(35, 41, 64, 0.5),
  select-filled-basic-disabled-border-color: rgba(150, 159, 185, 0.5),
  select-filled-basic-disabled-icon-color: rgba(150, 159, 185, 0.5),
  select-filled-basic-disabled-text-color: rgba(150, 159, 185, 0.5),
  option-list-border-radius: 0,
  select-min-width: 6rem,
  //Inputs
  //globals
  input-rectangle-border-radius: 2px,
  input-placeholder-text-font-family: unquote('\'Montserrat\', sans-serif'),
  input-text-font-family: unquote('\'Montserrat\', sans-serif'),
  input-small-text-font-size: 12px,
  input-small-text-font-weight: 500,
  input-small-text-line-height: 16px,
  input-small-placeholder-text-font-size: 12px,
  input-small-placeholder-text-font-weight: 400,
  input-small-placeholder-text-line-height: 24px,
  input-small-padding: 8px 16px,
  input-small-max-width: 328px,
  input-medium-text-font-size: 14px,
  input-medium-text-font-weight: 500,
  input-medium-text-line-height: 24px,
  input-medium-placeholder-text-font-size: 14px,
  input-medium-placeholder-text-font-weight: 500,
  input-medium-placeholder-text-line-height: 24px,
  input-medium-padding: 8px 16px,
  input-medium-max-width: 328px,
  input-large-text-font-size: 16px,
  input-large-text-font-weight: 500,
  input-large-text-line-height: 42px,
  input-large-placeholder-text-font-size: 16px,
  input-large-placeholder-text-font-weight: 500,
  input-large-placeholder-text-line-height: 42px,
  input-large-padding: 8px 16px,
  input-large-max-width: 328px,
  input-giant-text-font-size: 16px,
  input-giant-text-font-weight: 500,
  input-giant-text-line-height: 42px,
  input-giant-placeholder-text-font-size: 16px,
  input-giant-placeholder-text-font-weight: 500,
  input-giant-placeholder-text-line-height: 42px,
  input-giant-padding: 8px 16px,
  input-giant-max-width: 328px,
  //primary
  input-basic-text-color: #fff,
  input-basic-placeholder-text-color: #969fb9,
  input-basic-background-color: transparent,
  input-basic-border-color: #969fb9,
  input-basic-focus-background-color: #313e5d,
  input-basic-focus-border-color: #969fb9,
  input-basic-hover-background-color: transparent,
  input-basic-hover-border-color: #3089fc,
  input-basic-disabled-background-color: #313e5d,
  input-basic-disabled-border-color: none,
  input-basic-disabled-text-color: #969fb9,
  input-basic-disabled-placeholder-text-color: #969fb9,
  input-medium-text-color: #fff,
  input-medium-placeholder-text-color: #969fb9,
  input-medium-background-color: transparent,
  input-medium-border-color: #969fb9,
  input-medium-focus-background-color: #313e5d,
  input-medium-focus-border-color: #969fb9,
  input-medium-hover-background-color: transparent,
  input-medium-hover-border-color: #3089fc,
  input-medium-disabled-background-color: #313e5d,
  input-medium-disabled-border-color: none,
  input-medium-disabled-text-color: #969fb9,
  input-medium-disabled-placeholder-text-color: #969fb9,
  input-large-text-color: #fff,
  input-large-placeholder-text-color: #969fb9,
  input-large-background-color: transparent,
  input-large-border-color: #969fb9,
  input-large-focus-background-color: #313e5d,
  input-large-focus-border-color: #969fb9,
  input-large-hover-background-color: transparent,
  input-large-hover-border-color: #3089fc,
  input-large-disabled-background-color: #313e5d,
  input-large-disabled-border-color: none,
  input-large-disabled-text-color: #969fb9,
  input-large-disabled-placeholder-text-color: #969fb9,
  //danger
  input-danger-text-color: #fff,
  input-danger-placeholder-text-color: #969fb9,
  input-danger-background-color: rgba(223, 49, 111, 0.25),
  input-danger-border-color: rgba(223, 49, 111, 1),
  input-danger-focus-background-color: rgba(223, 49, 111, 0.25),
  input-danger-focus-border-color: rgba(223, 49, 111, 1),
  input-danger-hover-background-color: rgba(223, 49, 111, 0.25),
  input-danger-hover-border-color: rgba(223, 49, 111, 1),
  input-danger-disabled-background-color: #313e5d,
  input-danger-disabled-border-color: none,
  input-danger-disabled-text-color: #969fb9,
  input-danger-disabled-placeholder-text-color: #969fb9,
  // Buttons
  button-round-border-radius: 16px,
  button-filled-tiny-padding: 8px 16px,
  button-filled-small-padding: 8px 16px,
  button-filled-medium-padding: 8px 16px,
  button-filled-large-padding: 8px 16px,
  button-filled-giant-padding: 8px 16px,
  button-filled-primary-background-color: #3089fc,
  button-filled-primary-border-color: #3089fc,
  button-filled-primary-text-color: #fff,
  button-filled-primary-focus-background-color: #0c5dc5,
  button-filled-primary-focus-border-color: #0c5dc5,
  button-filled-primary-hover-background-color: #226fd2,
  button-filled-primary-hover-border-color: #226fd2,
  button-filled-primary-active-background-color: #3089fc,
  button-filled-primary-active-border-color: #3089fc,
  button-filled-primary-disabled-background-color: #969fb9,
  button-filled-primary-disabled-border-color: #969fb9,
  button-filled-primary-disabled-text-color: #fff,
  button-filled-danger-background-color: #df316f,
  button-filled-danger-border-color: #df316f,
  button-filled-danger-text-color: #fff,
  button-filled-danger-focus-background-color: #ba104d,
  button-filled-danger-focus-border-color: #ba104d,
  button-filled-danger-hover-background-color: #c9225e,
  button-filled-danger-hover-border-color: #c9225e,
  button-filled-danger-active-background-color: #df316f,
  button-filled-danger-active-border-color: #df316f,
  button-filled-danger-disabled-background-color: #969fb9,
  button-filled-danger-disabled-border-color: #969fb9,
  button-filled-danger-disabled-text-color: #fff,
), orb-dark, dark);
