<nb-card>
  <nb-card-header>Assigned Groups</nb-card-header>
  <nb-card-body>
    <div *ngIf="!isLoading">
      <button
        matTooltip="{{group.matching_agents.online}} online out of {{group.matching_agents.total}} agent(s)"
        (click)="showAgentGroupMatches(group)"
        *ngFor="let group of groups; last as isLast"
        class="agent-group-button">
        <span class="agent-group-accent">{{ group.name }} ( {{ group.matching_agents.online}}
                                                          / {{ group.matching_agents.total }} )</span>
        <span *ngIf="!isLast">,</span>
      </button>
    </div>
    <p *ngIf="errors?.nogroup">
      <span class="error-accent">{{ errors.nogroup }}</span>
    </p>
    <p *ngIf="errors?.notfound">
      <span class="error-accent">{{ errors.notfound }}</span>
    </p>
  </nb-card-body>
</nb-card>