<nb-card>
  <nb-card-header>Assigned Groups</nb-card-header>
  <nb-card-body>
    <div *ngIf="!isLoading">
      <button (click)="showAgentGroupMatches(group)"
              *ngFor="let group of groups; last as isLast"
              nbButton
              nbTooltip="{{group.matching_agents.online}} online out of {{group.matching_agents.total}} agent(s)"
              class='agent-group-button'>
        <span class="agent-group-accent">{{ group.name }}({{ group.matching_agents.online}})</span>
        <span *ngIf="!isLast">,</span>
      </button>
    </div>
    <p *ngIf="errors?.nogroup">
      <span class="error-accent">{{ errors.nogroup }}</span>
    </p>
    <p *ngIf="errors?.notfound">
      <span class="error-accent">{{ errors.notfound }}</span>
    </p>
  </nb-card-body>
</nb-card>