<nb-card
  class="nb-card-medium"
  size="large">
  <nb-card-header>
    {{strings.details.header}}
    <button
      (click)="onClose()"
      class="orb-close-dialog"
      ghost="true"
      nbButton
      size="small">
      <span class="nb-close"></span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.name}}<span class="ns1red">*</span></p>
        <p>{{ agent.name }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">Channel ID</p>
        <p>{{ agent?.channel_id }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">Created on</p>
        <p>{{ agent?.ts_created | date }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">Status</p>
        <p>{{ agent?.state }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <ngx-combined-tag [agent]="agent"></ngx-combined-tag>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button
      (click)="onOpenEdit(agent)"
      class="sink-edit-button"
      nbButton
      status="primary">Edit
    </button>
  </nb-card-footer>
</nb-card>
