<nb-card>
  <nb-card-header>
    <div>
      <h4>All Sinks</h4>
      <p *ngIf="page.rows && page.rows.length > 0" class="card-subtitle">
        You have {{page.rows.length}} sinks total, {{page.rows.filter(filterByInactive).length}} have errors.
      </p>
      <p *ngIf="page.rows && page.rows.length === 0" class="card-subtitle">
        There are no sinks yet.
      </p>
      <nb-select [(selected)]="pageFilters" class="orb-sink-filter-dropdown" appearance="outline"
                 placeholder="Filter">
        <nb-option *ngFor="let conf of tableFilters">{{ conf.name }}</nb-option>
      </nb-select>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-table-component [config]="tableConfig"
                         [page]="page"
                         (addEvent)=onOpenAdd()
                         (editEvent)=onOpenEdit()
                         (delEvent)=openDeleteModal($event)
                         (detailsEvent)=openDetailsModal($event)>
    </ngx-table-component>
  </nb-card-body>
</nb-card>
