.ns1red {
  color: #df316f;
}

.orb-sink-filter-dropdown {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  float: right;
  height: 40px;
  padding: 0;
  right: 24px;
  top: 101px;
  width: 140px;
}

// TODO cleanup css to nebular theme settings
.button-new-sink {
  /* Button */
  // TODO this button should be aligned right

  /* Auto Layout */
  align-items: center;
  border-radius: 4px;
  bottom: 0;
  color: #3089fc;
  display: flex;

  flex: none;
  flex-direction: row;
  flex-grow: 0;
  justify-content: flex-end;
  left: calc(50% - 108px / 2 + 25px);

  margin: 0 16px;

  /* Inside Auto Layout */

  order: 1;
  padding: 0 8px 0 0;
  position: static;
  top: 0;
  width: 108px;
}

.button-new-sink:hover {
  /* Property 1=Text + Icon, Property 2=Hover */
  /* Auto Layout */

  align-items: center;
  background: #2b3148;
  border-radius: 4px;
  bottom: 39.47%;
  display: flex;

  flex-direction: row;
  justify-content: center;
  left: 12.2%;
  padding: 4px 8px 4px 4px;
  position: absolute;

  /* Background 3 */

  right: 12.2%;
  top: 39.47%;
}

tr div p {
  :hover {
    color: #2a64f6;
  }
}
