<div class="container">
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
    </xng-breadcrumb>
    <h4>{{strings.list.header}}</h4>
    <nb-select
        [(selected)]="pageFilters"
        appearance="outline"
        class="orb-sink-filter-dropdown d-flex justify-content-end"
        placeholder="Filter">
      <nb-option *ngFor="let conf of tableFilters">{{ conf.label | titlecase }}</nb-option>
    </nb-select>
    <div class="justify-content-start sink-summary">
      <p *ngIf=" page.rows && page.rows.length> 0"
         class="sink-info-regular">
        {{page.rows.length}} sinks total, {{page.rows.filter(filterByInactive).length}} have errors.
      </p>
      <p *ngIf="page.rows && page.rows.length === 0"
         class="sink-info-accent">
        There are no sinks yet.
      </p>
    </div>
  </header>
  <div class="d-flex">
    <ngx-table-component (addEvent)=onOpenAdd()
                         (delEvent)=openDeleteModal($event)
                         (detailsEvent)=openDetailsModal($event)
                         (editEvent)=onOpenEdit($event)
                         [config]="tableConfig"
                         [page]="page">
    </ngx-table-component>
  </div>
</div>
