h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
}

.dataset-summary {
  .dataset-info-regular {
    color: #fff;

    &::before {
      color: #969fb9;
      content: 'You have\00a0';
    }
  }

  .dataset-info-accent {
    color: #969fb9;
  }
}

.summary-accent {
  color: #969fb9;
}

.filter-dropdown {
  display: flex;
  padding-right: 50px;
  position: absolute;
  right: 0;
  transform: translateY(-50px);
}

.button-new-dataset {
  background: #232940;
  border: 1px solid #969fb9;
  box-sizing: border-box;
  height: 236px;
  justify-content: flex-end;
  width: 155px;

  &::ng-deep div {
    display: flex !important;
    justify-content: flex-end !important;
  }

  &:hover {
    background: #232940;
    border: 1px solid #3089fc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &:active {
    background: #232940;
    border: 1px solid #3089fc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &:default {
    background: #232940;
    border: 1px solid #969fb9;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

tr div p {
  :hover {
    color: #2a64f6;
  }
}

::ng-deep {
  header p {
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px !important;
    font-style: normal;

    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-left: 16px;

    margin-top: 24px;
    width: 250px;
  }

  .orb-breadcrumb {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;

    ::ng-deep {
      .xng-breadcrumb-trail {
        color: #fff;
        margin-bottom: 0;
      }

      .xng-breadcrumb-link {
        color: #969fb9 !important;
        text-decoration: none !important;
      }

      .xng-breadcrumb-separator {
        color: #969fb9 !important;
        text-decoration: none !important;
      }
    }
  }
}

.add-dataset-container {
  height: 0;
  position: relative;

  button {
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
    z-index: 2;
  }
}

.orb-service- {
  &true {
    color: #6fcf97;
  }

  &false {
    color: #df316f;
  }
}
