nb-select {
  margin-top: 6px;
}

.page-button {
  margin-top: 6px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #f7f9fc !important;
}
.page-button:hover {
  background-color: #edf1f7 !important;
}
