<div>
  <header>
    <xng-breadcrumb class="orb-breadcrumb"> </xng-breadcrumb>
    <div
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: baseline;
      "
    >
      <h4>{{ strings.list.header }}</h4>
      <ngx-poll-control></ngx-poll-control>
    </div>
  </header>
  <div #tableWrapper class="tableWrapper">
    <ngx-filter [availableFilters]="filterOptions"></ngx-filter>
    <div class="add-agent-container">
      <button
        (click)="onOpenAdd()"
        class="card-button"
        shape="round"
        nbButton
        status="primary"
      >
        <i class="fa fa-plus">&nbsp;</i>{{ strings.list.create }}
      </button>
    </div>
    <ngx-datatable
      #table
      [columnMode]="columnMode.flex"
      [columns]="columns"
      [footerHeight]="50"
      [headerHeight]="50"
      [loadingIndicator]="loading"
      [rowHeight]="50"
      [rows]="filteredGroups$ | async"
      [scrollbarV]="true"
      [sorts]="tableSorts"
      class="orb orb-table"
    >
    </ngx-datatable>
  </div>
</div>

<ng-template
  #agentGroupNameTemplateCell
  let-i="index"
  let-row="row"
  let-value="value"
>
  <span nbTooltip="{{ value }}">
    {{ value }}
  </span>
</ng-template>

<ng-template #agentGroupTemplateCell let-row="row">
  <span
    (click)="onMatchingAgentsModal(row)"
    class="matching-agents"
    nbTooltip="{{ row.matching_agents | json }}"
  >
    {{ row.matching_agents.total }}
  </span>
</ng-template>

<ng-template
  #agentGroupTagsTemplateCell
  let-i="index"
  let-row="row"
  let-value="value"
>
  <mat-chip-list nbTooltip="{{ value | json }}">
    <mat-chip
      *ngFor="let tag of value | keyvalue"
      [style.background-color]="tag | tagcolor"
      class="orb-tag-chip"
    >
      {{ tag | tagchip }}
    </mat-chip>
    <mat-chip
      *ngIf="(row?.tags | json) === '{}'"
      [style.background-color]="'notag' | tagcolor"
      class="orb-tag-chip"
    >
      No tags were created
    </mat-chip>
  </mat-chip-list>
</ng-template>

<ng-template #actionsTemplateCell let-i="index" let-row="row" let-value="value">
  <div class="block">
    <button
      (click)="openDetailsModal(row)"
      class="orb-action-hover detail-button"
      ghost
      nbTooltip="View Details"
      nbButton
    >
      <nb-icon icon="search-outline"></nb-icon>
    </button>
    <button
      (click)="onOpenEdit(row)"
      class="orb-action-hover edit-button"
      ghost
      nbTooltip="Edit"
      nbButton
    >
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button
      (click)="openDeleteModal(row)"
      class="orb-action-hover del-button"
      ghost
      nbTooltip="Delete"
      nbButton
    >
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </div>
</ng-template>
