<nb-card>
  <nb-card-header>
    {{strings.details.header}}
    <button nbButton ghost="true" class="orb-close-dialog"
            (click)="onClose()"><span class="nb-close"></span>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.name}}</p>
        <p class="overflow-ellipsis" nbTooltip="{{agentGroup.name}}">{{ agentGroup.name }}</p>
      </div>
      <div class="col-6 d-flex flex-column align-items-start" >
        <p class="detail-title">{{strings.propNames.description}}</p>
        <p *ngIf="agentGroup?.description">{{ agentGroup.description }}</p>
        <p *ngIf="!agentGroup?.description" style="font-size: 14px; font-style: italic; "> No description Provided </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.matches}}</p>
        <button class="match-agents-button" (click)="onMatchingAgentsModal()">{{ agentGroup.matching_agents.total }} {{strings.match.agents}}</button>
      </div>
      <div class="col-6 d-flex flex-column align-items-start">
        <p class="detail-title">Date Created</p>
        <p>{{ agentGroup?.ts_created | date:'MM-dd-yy h:mm a' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-start">
        <p class="detail-title">{{strings.propNames.tags}}</p>
        <div class="background">
          <mat-chip-list>
            <mat-chip
              *ngFor="let tag of agentGroup.tags | keyvalue"
              style="background-color: #2B3148;"
              class="orb-tag-chip"
            >
              <span [style.color]="tag.key | tagcolor">{{ tag.key }}</span><span style="color: #969FB9;">:</span>&nbsp;
              <span [style.color]="tag.value | tagcolor">{{ tag.value }}</span>
            </mat-chip>
            <mat-chip
              *ngIf="
                (agentGroup.tags | json) === '{}'
              "
              style="background-color: #2B3148;"
              class="orb-tag-chip"
            >
              <span style="color: #df316f;">No tag were created</span>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button status="primary" class="group-edit-button" (click)="onOpenEdit(agentGroup)">Edit</button>
  </nb-card-footer>
</nb-card>
