<nb-card>
  <nb-card-header>Agent Information</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6">
        <label>Agent Name</label>
        <p>{{ agent?.name }}</p>
        <label>Backend</label>
        <p>{{ getAgentBackend() }}</p>
      </div>
      <div class="col-6">
        <div class="float-right">
          <label>Version</label>
          <p>{{ agent?.agent_metadata?.orb_agent?.version }}</p>
          <label>Version</label>
          <p>{{ getAgentBackendVersion() }}</p>
        </div>
      </div>
      <div class="col-12">
        <label>Agent ID</label>
        <p>{{ agent?.id }}</p>

        <label>Channel ID</label>
        <p>{{ agent?.channel_id }}</p>

        <label>Created on</label>
        <p *ngIf="agent.state !== 'new'">{{ agent?.ts_created | date:'full'}}</p>
      </div>
    </div>
    <ngx-combined-tag [agent]="agent"></ngx-combined-tag>
    <hr>
    <div class="block">
      <button (click)="resetAgent()"
              [disabled]="isResetting"
              class="agent-reset"
              data-orb-qa-id="button#reset"
              nbButton
              shape="round">
        Reset Agent
      </button>
    </div>
  </nb-card-body>
</nb-card>
