<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="card-header">
        Thing Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-2 form-key"> Name: </div><div class="col-md-10"> {{ thing.name }} </div>
          <div class="col-md-2 form-key"> ID: </div><div class="col-md-10"> {{ thing.id }} </div>
          <div class="col-md-2 form-key"> Key: </div><div class="col-md-10"> {{ thing.key }} </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header class="card-header">
        Metadata
        <button nbButton size="tiny" class="button-green"
                (click)="onEdit()">
          Edit
        </button>
      </nb-card-header>
      <nb-card-body style="padding: 0px;">
        <textarea class="form-control"
                  [ngModel]="thing.metadata | json"
                  (ngModelChange)="editorMetadata=$event">
        </textarea>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-body style="padding:0; margin:0;">
        <nb-tabset>
          <nb-tab tabTitle="Connect">
            <nb-card size="medium"  style="padding:0; margin:0;">
              <nb-card-body>
                <ngx-table-component [config]="tableConfig"
                                     [page]="disconnChansPage"
                                     (checkEvent)=onCheckboxConns($event)>
                </ngx-table-component>
              </nb-card-body>
              <nb-card-footer>
                <ngx-pagination-component [page]="disconnChansPage"
                                          (changeLimitEvent)=onChangeLimitDisconn($event)
                                          (changePageEvent)=onChangePageDisconn($event)>
                </ngx-pagination-component>
                <button nbButton size="tiny" class="button-green"
                        (click)="onConnect()">
                  Connect
                </button>
              </nb-card-footer>
            </nb-card>
          </nb-tab>
          <nb-tab tabTitle="Disconnect">
            <nb-card size="medium"  style="padding:0; margin:0;">
              <nb-card-body>
                <ngx-table-component [config]="tableConfig"
                                     [page]="connChansPage"
                                     (checkEvent)=onCheckboxDisconns($event)>
                </ngx-table-component>
              </nb-card-body>
              <nb-card-footer>
                <ngx-pagination-component [page]="connChansPage"
                                          (changeLimitEvent)=onChangeLimit($event)
                                          (changePageEvent)=onChangePage($event)>
                </ngx-pagination-component>
                <button nbButton size="tiny" class="button-red"
                        (click)="onDisconnect()">
                  Disconnect
                </button>
              </nb-card-footer>
            </nb-card>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>

    <nb-card size="tiny">
      <nb-card-header class="card-header">
        HTTP Adapter
        <button (click)="onSendMessage()" nbButton size="tiny" class="button-green">
          Send Message
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="row form-row">
          <div class="col-md-2 form-key"> Channel: </div>
          <div class="col-md-10">
            <nb-select [(selected)]="httpMsg.chanID" size="tiny">
              <nb-option *ngFor="let ch of this.connChansPage.rows" [value]="ch.id">{{ch.name}}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 form-key"> Subtopic: </div>
          <div class="col-md-3">
            <input nbInput fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.subtopic'>
          </div>
          <div class="col-md-2 form-key"> Time: </div>
          <div class="col-md-3">
            <input nbInput  fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.time'>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 form-key"> Name: </div>
          <div class="col-md-3">
            <input nbInput fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.name'>
          </div>
          <div class="col-md-2 form-key"> Value: </div>
          <div class="col-md-3">
            <input nbInput fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.value'>
          </div>
          <div class="col-1">
            <nb-select class="right" [(selected)]="httpMsg.valType" size="tiny">
              <nb-option *ngFor="let type of this.valTypes" [value]="type">{{type}}</nb-option>
            </nb-select>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Message Reader Monitor -->
<ngx-message-monitor [channels]="connChansPage.rows"
                     [thingKey]="thing.key">
</ngx-message-monitor>
