<nb-card size="small">
  <nb-card-header class="card-header">
    Bootstrap configuration
    <button class="float-right" nbButton size="tiny"
            status="warning" (click)="submit()">
      Update
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-3"> Log level: </div><div class="col-md-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.log_level"></div>
      <div class="col-md-3"> HTTP port: </div><div class="col-md-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.http_port"></div>
      <div class="col-md-3"> MQTT URL: </div><div class="col-md-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.mqtt_url"></div>
      <div class="col-md-3"> EdgeX URL: </div><div class="col-md-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.edgex_url"></div>
      <div class="col-md-3"> NATS URL: </div><div class="col-md-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.nats_url"></div>
    </div>
  </nb-card-body>
</nb-card>
