<nb-card size="small">
  <nb-card-header class="card-header">
    Bootstrap configuration
    <button (click)="submit()" class="float-right" nbButton
            size="tiny" status="warning">
      Update
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-3"> Log level:</div>
      <div class="col-md-9"><input [(ngModel)]="content.log_level" fieldSize="small" fullWidth nbInput placeholder="Input"
                                   type="text"></div>
      <div class="col-md-3"> HTTP port:</div>
      <div class="col-md-9"><input [(ngModel)]="content.http_port" fieldSize="small" fullWidth nbInput placeholder="Input"
                                   type="text"></div>
      <div class="col-md-3"> MQTT URL:</div>
      <div class="col-md-9"><input [(ngModel)]="content.mqtt_url" fieldSize="small" fullWidth nbInput placeholder="Input"
                                   type="text"></div>
      <div class="col-md-3"> EdgeX URL:</div>
      <div class="col-md-9"><input [(ngModel)]="content.edgex_url" fieldSize="small" fullWidth nbInput placeholder="Input"
                                   type="text"></div>
      <div class="col-md-3"> NATS URL:</div>
      <div class="col-md-9"><input [(ngModel)]="content.nats_url" fieldSize="small" fullWidth nbInput placeholder="Input"
                                   type="text"></div>
    </div>
  </nb-card-body>
</nb-card>
