<header data-orb-qa-id="sink#view" class="row">
    <div class="col-7">
      <xng-breadcrumb class="orb-breadcrumb" data-orb-qa-id="breadcrumb">
        <ng-container
          *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first"
        >
          <ng-container [ngClass]="{ my_class: first === '' }">{{
            breadcrumb
          }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
      <h4>{{ strings.sink.add.header }}</h4>
    </div>
    <div class="col-4">
      <div style="float: right; margin-top: 20px;">
        <button
        (click)="goBack()"
        shape="round"
        nbButton
        status="danger">
        Cancel
        </button> 
        <button
        (click)="createSink()"
        class="sink-create"
          nbButton
        shape="round"
        [disabled]="!canCreate() || isRequesting"
        >
        Create
        </button> 
      </div>
    </div>
      
</header>
<div class="row">
  <div class="card-col col-4">
    <ngx-sink-details 
    [(createMode)]="createMode"
    (sinkBackend)="getBackendEmit($event)"
    >
    </ngx-sink-details>
  </div>
  <div class="card-col col-8" style="padding-left: 0;">
    <ngx-sink-config [(createMode)]="createMode" [(sinkBackend)]="sinkBackend" [errorConfigMessage]="errorConfigMessage">
    </ngx-sink-config>
  </div>
</div>
