<div class="container">
  <header>
    <xng-breadcrumb class="orb-breadcrumb">
      <ng-container
          *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
        <ng-container [ngClass]="{'my_class': first === ''}">{{ breadcrumb }}</ng-container>
      </ng-container>
    </xng-breadcrumb>
    <h4>{{strings.sink[isEdit ? 'edit' : 'add']['header']}}</h4>
  </header>
  <div class="d-flex row" *ngIf="!isLoading">
    <div class="d-flex col-12 mt-5">
      <nb-stepper orientation="vertical"
                  class="stepper w-100 ml-5"
                  disableStepNavigation>
        <nb-step [label]="firstStepTemplate"
                 [stepControl]="firstFormGroup">
           <ng-template #firstStepTemplate>
                <div class="step-label d-flex flex-column">
                  <strong>Sink Details</strong>
                  <p>Provide a name and description for the Sink</p>
                </div>
            </ng-template>
          <form [formGroup]="firstFormGroup" (ngSubmit)="onFormSubmit()">
            <nb-form-field>
              <div class="d-flex flex-column">
                <div>
                  <label class="font-weight-bold">Name Label</label>
                  <span class="required">*</span>
                </div>
                <input nbInput
                       autofocus
                       fullWidth="true"
                       fieldSize="medium"
                       formControlName="name"/>
              </div>
            </nb-form-field>
            <nb-form-field>
              <div>
                <label class="font-weight-bold">Sink Description</label>
              </div>
              <input nbInput
                     fullWidth="true"
                     fieldSize="medium"
                     formControlName="description"/>
            </nb-form-field>
            <nb-form-field>
              <div>
                <label class="font-weight-bold">Sink Type</label>
                <span class="required">*</span>
              </div>
              <nb-select size="medium"
                         (selectedChange)="onSinkTypeSelected($event)"
                         fullWidth="true"
                         formControlName="backend"
                         appearance="filled"
                         placeholder="Select backend type"
              >
                <nb-option *ngFor="let type of sinkTypesList"
                           [value]="type">{{ type | titlecase }}</nb-option>
              </nb-select>
            </nb-form-field>
            <div class="d-flex justify-content-end">
              <button
                  nbButton
                  ghost
                  (click)="goBack()"
                  type="button"
                  status="primary">Cancel
              </button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!firstFormGroup?.valid" nbStepperNext>Next</button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="secondStepLabel">
            <ng-template #secondStepLabel>
                <div class="step-label d-flex flex-column">
                  <strong>Sink Destination</strong>
                  <p>Configure your sink settings</p>
                </div>
            </ng-template>
          <form [formGroup]="secondFormGroup">
            <nb-form-field *ngFor="let control of selectedSinkSetting;let i = index">
              <div>
                <label class="font-weight-bold">{{control.label}}</label>
              </div>
              <div [ngSwitch]="control.input">
                 <input *ngSwitchCase="'text'"
                   [autofocus]="i == 0"
                   nbInput
                   [type]="control.type"
                   fullWidth="true"
                   fieldSize="medium"
                   [formControlName]="control.prop" />
               <nb-select *ngSwitchCase="'select'"
                          appearance="filled"
                          size="medium"
                          fullWidth="true"
                          formControlName="backend"
                          placeholder="Select backend type">
                <nb-option *ngFor="let type of control.options"
                           [value]="type">{{ type }}</nb-option>
               </nb-select>
              </div>
            </nb-form-field>
            <div class="d-flex justify-content-end" *ngIf="secondFormGroup">
              <button
                  nbButton
                  ghost
                  status="primary"
                  nbStepperPrevious>Back
              </button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!secondFormGroup?.valid" nbStepperNext>Next
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="thirdStepLabel">
          <ng-template #thirdStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>Sink Tags</strong>
              <p>Enter tags for this sink</p>
            </div>
          </ng-template>
          <form [formGroup]="thirdFormGroup">
            <div class="d-flex">
              <mat-chip-list>
                <mat-chip
                    class="orb-tag-sink "
                    *ngFor="let tag of thirdFormGroup.controls.tags.value">
                  {{ tag | keyvalue | tagchip}}
                  <nb-icon style="color: #ffffff; margin-left: 4px;"
                           status="primary"
                           (click)="onRemoveTag(tag)"
                           icon="close-circle-outline"
                           size="14"></nb-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
            <nb-form-field>
              <div class="container d-flex row px-0 mx-0" style="width:50%;">
                <div class="d-flex flex-column col-5 px-0 mx-0">
                  <div>
                    <label class="font-weight-bold">Key</label>
                    <span class="required">*</span>
                  </div>
                  <div>
                    <input nbInput
                           autofocus
                           fullWidth="true"
                           fieldSize="medium"
                           formControlName="key"/>
                  </div>
                </div>
                <div class="d-flex justify-content-center align-items-center col-1 mt-4 px-0 mx-0">
                  <nb-icon style="color: #df316f;" icon="plus-outline" size="14"></nb-icon>
                </div>
                <div class="d-flex flex-column col-5 px-0 mx-0">
                  <div>
                    <label class="font-weight-bold">Value</label>
                    <span class="required">*</span>
                  </div>
                  <div>
                    <input nbInput
                           autofocus
                           fullWidth="true"
                           fieldSize="medium"
                           formControlName="value"/>
                  </div>
                </div>
                <div class="d-flex col-1 align-items-center justify-content-center mx-0 pl-4 px-0"
                     style="transform: translateY(14px);">
                  <button nbButton
                          ghost
                          (click)="onAddTag()"
                          [disabled]="(thirdFormGroup.controls['key'].value === '' ||
                          thirdFormGroup.controls['value'].value === '')">
                    <nb-icon style="color: #df316f;"
                             status="primary"
                             icon="plus-outline"
                             size="14">
                    </nb-icon>
                  </button>
                </div>
              </div>
            </nb-form-field>
            <hr/>

            <div class="d-flex justify-content-start" style="padding-left: 35%;"
                 *ngIf="thirdFormGroup">
              <button
                  nbButton
                  ghost
                  status="primary"
                  nbStepperPrevious>
                {{strings.stepper.back}}
              </button>
              <button class="next-button"
                      nbButton
                      shape="round"
                      status="primary"
                      type="submit"
                      [disabled]="!secondFormGroup.valid" nbStepperNext>
                {{strings.stepper.next}}
              </button>
            </div>
          </form>
        </nb-step>
        <nb-step [label]="fourthStepLabel">
          <ng-template #fourthStepLabel>
            <div class="step-label d-flex flex-column">
              <strong>Review & Confirm</strong>
            </div>
          </ng-template>
          <div class="d-flex row">
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">Name Label</label>
                <p>{{firstFormGroup?.controls.name.value}}</p>
              </div>
            </div>
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">Description</label>
                <p>{{firstFormGroup?.controls.description.value}}</p>
              </div>
            </div>
            <div class="col-md-12 col-xl-6">
              <div>
                <label class="font-weight-bold">Sink Type</label>
                <p>{{firstFormGroup?.controls.backend.value}}</p>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <mat-chip-list>
              <mat-chip
                  class="orb-tag-sink "
                  *ngFor="let tag of thirdFormGroup.controls.tags.value">
                {{ tag | keyvalue | tagchip}}
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="d-flex row mt-4">
            <div class="col-md-12 col-xl-6" *ngFor="let control of selectedSinkSetting">
              <div>
                <label class="font-weight-bold">{{control.label}}</label>
                <p *ngIf="control.type != 'password'">{{secondFormGroup.controls[control.prop].value}}</p>
                <p *ngIf="control.type == 'password'">*******</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end" *ngIf="thirdFormGroup">
            <button
                nbButton
                ghost
                status="primary"
                nbStepperPrevious>Back
            </button>
            <button class="next-button"
                    nbButton
                    shape="round"
                    status="primary"
                    (click)="onFormSubmit()"
                    type="submit">Save
            </button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
</div>
