
button {
  margin: 0 3px;
  float: left;
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: none !important;
}
.sink-create {
  &.btn-disabled {
    background: #2b3148;
  }

  &:not(.btn-disabled) {
    background-color: #3089fc !important;
  }
}

.sink-cancel {
  background-color: #3089fc !important; 
}



  
  
  header {
    justify-content: space-between;
  }
  
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  ::ng-deep {
    .orb-breadcrumb {
      display: flex;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px;
  
      ::ng-deep {
        .xng-breadcrumb-trail {
          color: #fff !important;
          margin-bottom: 0 !important;
        }
  
        .xng-breadcrumb-link {
          color: #969fb9 !important;
          text-decoration: none !important;
        }
  
        .xng-breadcrumb-separator {
          color: #969fb9 !important;
          text-decoration: none !important;
        }
      }
    }
  }
  