<div class="container">
  <header>
    <xng-breadcrumb></xng-breadcrumb>
    <h4>{{strings.sink[isEdit ? 'edit' : 'add']['header']}}</h4>
  </header>
  <div class="d-flex row">
    <div class="d-flex col-12">
      <nb-stepper orientation="vertical" disableStepNavigation="true" linear="true">
        <nb-step label="step number one" [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <nb-form-field>
              <input nbInput formGroupName="name"/>
            </nb-form-field>
            <nb-form-field>
              <input nbInput formControlName="description"/>
            </nb-form-field>
            <nb-form-field>
               <nb-select formControlName="backend" appearance="outline" class="orb-sink-filter-dropdown"
                 placeholder="Select backend type">
                <nb-option *ngFor="let type of sinkTypesList">{{ type }}</nb-option>
              </nb-select>
            </nb-form-field>
          </form>
        </nb-step>
        <nb-step label="stepLabel">
            <ng-template #stepLabel>
                <div>
                    step number two
                </div>
            </ng-template>
              <div>
          <p>
            {{strings.sink.propNames.name}}<span class="ns1red">*</span>
          </p>
               <input nbInput id="name" type="text" [(ngModel)]="sink.name">
             </div>
          <div>
            <p>
              {{strings.sink.propNames.description}}
            </p>
            <input nbInput id="description" type="text" [(ngModel)]="sink.description">
          </div>
          <div>
            <p>
              {{strings.sink.propNames.backend}}<span class="ns1red">*</span>
            </p>
<!--            <input nbInput [placeholder]="sinkTypesList.prometheus" id='backend' type=text [(ngModel)]="sink.backend">-->
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>

<!--  <footer>-->
<!--    <button nbButton status="success" (click)="onSubmit()">{{strings.stepper.save}}</button>-->
<!--    <button nbButton status="danger" (click)="cancel()">{{strings.stepper.back}}</button>-->
<!--  </footer>-->
</div>
